.attention-message {
  font-size: 22px;
  line-height: 27px;
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    width: 11px;
    height: 43px;
    background: url("../img/attention.svg") no-repeat center;
    display: block;
    position: absolute;
    top: -10px;
    left: 0px;
  }
}
