.audit-price {
  color: var(--dark-color);
  background: url("../img/audit-price-bg.webp") no-repeat center,
    url("../img/audit-price-bg2.webp") no-repeat center / 100% 100%,
    linear-gradient(136.82deg, rgba(205, 255, 204, 0) 24.2%, #E8FFE8 43.55%, #CDFFCC 69.26%),
    #8DB48D;

  @supports not (background-image: image-set(url("../img/audit-price-bg.webp"))) {
    background: url("../img/audit-price-bg.png") no-repeat center,
    url("../img/audit-price-bg2.png") no-repeat center / 100% 100%,
    linear-gradient(136.82deg, rgba(205, 255, 204, 0) 24.2%, #E8FFE8 43.55%, #CDFFCC 69.26%),
    #8DB48D;
  }

  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    font-family: 'RubikMonoOne';
    font-weight: 400;
    font-size: 38px;
    line-height: normal;
    margin-bottom: 70px;

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 60px;
  }

  &__left {
    flex: 1 1 350px;
  }

  &__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 1em;
  }

  &__links-bar {
    margin-top: 70px;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__form {
    margin: 0 auto;
  }
}
