.audit-hero {
  padding-top: 233px;
  padding-bottom: 120px;
  background-image: image-set(
    url("../img/audit-hero-bg.webp") type("image/webp"),
    url("../img/audit-hero-bg.png") type("image/png"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 480px) {
    background-image: image-set(
      url("../img/audit-hero-bg_mobile.webp") type("image/webp"),
      url("../img/audit-hero-bg_mobile.png") type("image/png"));
      padding-top: 178px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: auto;
      justify-items: center;
    }

    @media (max-width: 480px) {
      max-width: 408px;
    }

    &-title {
      font-family: "RubikMonoOne";
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 56px;
      color: var(--dark-color);
      grid-column: 1/2;
      grid-row: 1/2;

      @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: start;
      }
    }

    &-subtitle {
      margin-top: 30px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: normal;
      color: var(--dark-color);
      grid-column: 1/2;
      grid-row: 2/3;

      @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    &-cta {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 70px;
      grid-column: 1/2;
      grid-row: 3/4;

      @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 4/5;
      }

      @media (max-width: 450px) {
        flex-direction: column;
      }
    }

    &-form {
      justify-self: end;
      grid-column: 2/3;
      grid-row: 1/4;
      @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        margin-top: 40px;
      }
    }
  }
}
