.audit-tasks {
  background: url("../img/audit-tasks-bg.webp") no-repeat center, #000000;

  @supports not (background: url("../img/audit-tasks-bg.webp")) {
    background: url("../img/audit-tasks-bg.png") no-repeat center, #000000;
  }

  &__content {
    color: var(--light-color);

    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    font-family: 'RubikMonoOne';
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 70px;
    max-width: 960px;

    @media (max-width: 480px) {
      font-size: 26px;
      max-width: 315px;
      margin-bottom: 40px;
    }
  }

  &__list {
    margin: 0 0 50px 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    font-size: 24px;
    font-weight: 400;

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  &__attention {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    opacity: 0.7;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}

.audit-tasks__item>span {
  font-weight: 500;
}
