.audit-quote {
  background: url("../img/audit-quote-bg.webp") no-repeat 5% 0 / contain;

  @supports not (
    background: url("../img/audit-quote-bg.webp") no-repeat 5% 0 / contain
  ) {
    background: url("../img/audit-quote-bg.png") no-repeat 5% 0 / contain;
  }

  @media (max-width: 1024px) {
    background: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    color: var(--dark-color);

    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    flex: 1 1 230px;
  }

  &__subtitle {
    flex: 1 1 725px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    @media (max-width: 480px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
