.audit-need {
  background: #8DB48D;

  background-image: image-set(
    url("../img/audit-need-bg.webp") type("image/webp"),
    url("../img/audit-need-bg.png") type("image/png")),
    linear-gradient(136.82deg, rgba(205, 255, 204, 0) 24.2%, rgba(231, 255, 230, 0.959184) 43.54%, #E8FFE8 43.55%, #E8FFE7 43.56%, #CDFFCC 69.26%);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    margin-bottom: 70px;
    max-width: 960px;
    font-family: 'RubikMonoOne';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.23;
    color: var(--dark-color);

    @media (max-width: 768px) {
      font-size: 26px;
    }

    @media (max-width: 480px) {
      margin-top: 40px;
      font-size: 24px;
      word-wrap: break-word;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 34px;

    @media (max-width: 480px) {
      margin-top: 40px;
    }
  }

  &__text-column {
    margin: 0;
    flex: 1 1 480.5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  &__text-item {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-color);
  }
}

.audit_need__text-item > span {
  font-weight: 500;
}
