.audit-need {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url('../img/audit-need-bg.png') no-repeat center / 100% 100%,
    url('../img/audit-need-bg.webp') no-repeat center / 100% 100%,
    linear-gradient(136.82deg, rgba(205, 255, 204, 0) 24.2%, rgba(231, 255, 230, 0.959184) 43.54%, #E8FFE8 43.55%, #E8FFE7 43.56%, #CDFFCC 69.26%),
    #8DB48D;

  &__content {}

  &__title {
    margin-bottom: 70px;
    max-width: 960px;
    font-family: 'RubikMonoOne';
    font-weight: 400;
    font-size: 38px;
    line-height: 1.23;
    color: var(--dark-color);

    @media (max-width: 768px) {
      font-size: 26px;
    }

    @media (max-width: 480px) {
      max-width: 408px;
      margin-top: 40px;
      padding-left: 15px;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 34px;

    @media (max-width: 480px) {
      max-width: 408px;
      margin-top: 40px;
      padding-left: 15px;
    }
  }

  &__text-column {
    margin: 0;
    flex: 1 1 480.5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  &__text-item {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-color);
  }
}
