.audit-need {
  color: var(--dark-color);
  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    margin-bottom: 70px;
    max-width: 960px;

    @media (max-width: 480px) {
      margin-top: 40px;
      font-size: 24px;
      word-wrap: break-word;
    }

    @media (max-width: 375px) {
      margin-top: 40px;
      font-size: 20px;
      word-wrap: break-word;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 34px;

    @media (max-width: 480px) {
      margin-top: 40px;
    }
  }

  &__text-column {
    margin: 0;
    flex: 1 1 480.5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  &__text-item {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}

.audit_need__text-item > span {
  font-weight: 500;
}
