.blog-hero {
  color: var(--dark-color);
  background: url("../img/blog-hero-bg.webp") no-repeat center/ contain,
    url("../img/blog-hero-bg.png") no-repeat center / contain;

  @media (max-width: 480px) {
    background: none;
  }

  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }
    &-subtitle {
      margin-top: 30px;
      max-width: 959px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: var(--dark-color);
    }

    &-cta {
      margin-top: 30px;
      display: flex;
      gap: 30px;

      @media (max-width: 480px) {
        gap: 10px;
        justify-content: center;
      }

      @media (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
