.case-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 46px;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  transition: all 0.6s ease-in-out;
  display: inline-block;
  max-width: fit-content;
  max-height: 50px;

  &:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
}

.brown {
  color: var(--secondary-accent-color);
  border: 1px solid var(--secondary-accent-color);

  .prime-msg-ico {
    stroke: var(--secondary-accent-color);
  }
  &:hover {
    background-color: var(--secondary-accent-color);
    color: var(--light-color);

    .prime-msg-ico {
      stroke: var(--light-color);
    }
  }
}

.filled {
  background-color: var(--secondary-accent-color);
  color: var(--light-color);

  &:hover {
    background-color: transparent;
    color: var(--secondary-accent-color);
  }
}
