.google-args {
  background: var(--dark-color);
  color: var(--light-color);

  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }
  }

  &__title {
    & span {
      color: var(--primary-accent-color);
    }
  }

  &__decore {
    width: 4px;
    height: 410px;
    margin-top: 70px;
    background-color: var(--light-color);
    position: relative;
    left: 50%;

    &-item {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:nth-child(odd) {
        background-color: var(--primary-accent-color);
      }

      &:nth-child(even) {
        background-color: var(--light-color);
      }

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 133px;
      }

      &:nth-child(3) {
        top: 176px;
      }

      &:nth-child(4) {
        top: 220px;
      }

      &:nth-child(5) {
        top: 350px;
      }

      &:nth-child(6) {
        top: 393px;
      }
    }
  }
}
