.google-content {
  color: var(--dark-color);
  background: url("../img/google-content-bg.webp") no-repeat center/ contain;

  @supports not (background: url("../img/google-content-bg.webp")) {
    background: url("../img/google-content-bg.png") no-repeat center/ contain;
  }

  &__content {
    &-title {
      max-width: 876px;
    }

    &-paragraph {
      margin-top: 30px;
      font-size: 22px;
      line-height: 27px;
      opacity: 0.8;
    }

    &-form {
      margin-top: 60px;
    }
  }

  &__list {
    margin-top: 40px;

    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }

    &-list {
      padding-left: 30px;
      font-size: 24px;
      line-height: 29px;
      opacity: 0.8;

      & li {
        & span {
          font-weight: 500;
        }
      }

      & li:not(:first-child) {
        margin-top: 40px;
      }
    }
  }
}
