.main-form-horizont {
  padding: 25px 35px 45px 25px;
  margin: 0 auto;

  @media (max-width: 480px) {
    max-width: 350px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;

    @media (max-width: 480px) {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }

  &__form-body {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
  }

  &__label {
    order: 1;
    position: relative;
    flex: 1 1 215px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
      flex: 1 1 400px;
    }
  }

  &__input {
    border: 1px solid var(--dark-color);
    background: transparent;
    width: 100%;
    padding: 13px;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  &__button {
    order: 3;
    flex: 1 1 210px;
    min-width: 210px;
    padding: 13px;
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1200px) {
      flex: 1 1 1000px;
    }

    &:hover {
      background-color: transparent;
    }
  }

  &__select {
    width: 100%;
    padding: 13px;
    border: 1px solid var(--dark-color);
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: transparent;
  }

  &__privacy-warn {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    & a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.main-form-horizon__label--site {
   order: 4;

   @media (max-width: 1200px) {
     order: 2;
   }

   @media (min-width: 1201px) {
     padding-right: 220px;
   }
}

.downarrow {
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  position: absolute;
  top: 18px;
  right: 13px;
  pointer-events: none;
}

.horiz-black-version {
  background-color: var(--dark-color);
  color: var(--light-color);

  input {
    border: 1px solid var(--light-color);
    color: var(--light-color);

    &::placeholder {
      color: var(--light-color);
    }
  }

  select {
    border: 1px solid var(--light-color);
    color: var(--light-color);
  }

  .downarrow {
    fill: var(--light-color);
  }

  button {
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    color: var(--dark-color);

    &:hover {
      background-color: transparent;
      color: var(--light-color);
    }
  }
}

.horiz-white-version {
  background-color: var(--light-color);
  color: var(--dark-color);

  button {
    color: var(--light-color);
    border: 1px solid var(--dark-color);
    background-color: var(--dark-color);

    &:hover {
      background-color: transparent;
      color: var(--dark-color);
    }
  }

  input {
    color: var(--dark-color);
  }
}

.horiz-brown-version {
  background-color: #715a40;
  color: var(--light-color);

  input {
    border: 1px solid var(--light-color);
    color: var(--light-color);

    &::placeholder {
      color: var(--light-color);
    }
  }

  select {
    border: 1px solid var(--light-color);
    color: var(--light-color);
  }

  .downarrow {
    fill: var(--light-color);
  }

  button {
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    color: var(--dark-color);

    &:hover {
      background-color: transparent;
      color: var(--light-color);
    }
  }

  .just-validate-error-label {
    color: white !important;
  }
}

.just-validate-error-label {
  white-space: nowrap;
  align-self: flex-start;
}
