.landing-order {
  background: url("../img/lp-cards-bg.webp") no-repeat center;

  @supports not (background: url("../img/lp-cards-bg.webp")) {
    background: url("../img/lp-cards-bg.png") no-repeat center;
  }
  color: var(--dark-color);
  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }

    &-paragraph {
      margin-top: 40px;
      font-size: 22px;
      line-height: 27px;
      opacity: 0.8;

      & span {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        opacity: 0.8;
      }

      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
