.landing-diff {
  color: var(--dark-color);
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 480px) {
      max-width: 408px;

      .case-button {
        justify-self: start;
      }
    }

    &-title {
      max-width: 500px;
    }

    &-text {
      margin-top: 40px;
      max-width: 500px;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;

      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 25px;
      }

      & span {
        font-weight: 500;
      }
    }
  }
}
