.landing-structure {
  background: url("../img/lp-struc-bg-top.webp") no-repeat 95% 5%,
    url("../img/lp-struc-bg-bot.webp") no-repeat 5% 95%;

  @supports not (background: url("../img/lp-struc-bg-top.webp")) {
    background: url("../img/lp-struc-bg-top.png") no-repeat 95% 5%,
      url("../img/lp-struc-bg-bot.png") no-repeat 5% 95%;
  }

  @supports not (background: url("../img/lp-struc-bg-bot.webp")) {
    background: url("../img/lp-struc-bg-bot.png") no-repeat 5% 95%,
      url("../img/lp-struc-bg-top.png") no-repeat 95% 5%;
  }

  @media (max-width: 480px) {
    background: url("../img/lp-struc-bg-mob.webp") no-repeat center/cover;

    @supports not (background: url("../img/lp-struc-bg-mob.webp")) {
      background: url("../img/lp-struc-bg-mob.png") no-repeat center/cover;
    }
  }
  &__content {
    color: var(--dark-color);

    @media (max-width: 480px) {
      max-width: 408px;
    }

    &-subtitle {
      margin-top: 40px;
      font-size: 22px;
      line-height: 27px;
      opacity: 0.8;

      @media (max-width: 480px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  &__list {
    margin: 0;
    font-size: 24px;
    line-height: 29px;

    &-item {
      margin-top: 35px;
    }

    &-title {
      font-weight: 500;
      opacity: 0.8;
    }

    &-body {
      margin-top: 35px;
      font-weight: 400;
      opacity: 0.8;
    }

    @media (max-width: 480px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
