.light-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  &__logo {
    &-image {
      width: 140px;
      height: 68px;
      transform: scale(1.2);
      @media (max-width: 840px) {
        width: 120px;
        height: 59px;
      }
    }
  }

  &__inner {
    @include flex-all-sb;
    padding-top: 45px;

    @media (max-width: 840px) {
      flex-direction: column;
      gap: 16px;
      padding-top: 35px;
    }
  }
}
