.nav {
  --primary-color: inherit;
  --secondary-color: var(--primary-accent-color);

  &__list {
    @include flex-v-center;
    gap: 55px;

    &-link {
      color: var(--primary-color);
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      transition: color 0.3s ease-in-out;

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        transition: width 0.3s ease-in-out;
        background-color: var(--secondary-color);
      }

      &:hover::after {
        width: 100%;
        background-color: var(--secondary-color);
      }

      &:hover {
        color: var(--secondary-color);
      }

      &--active {
        color: var(--secondary-color);
        font-weight: 500;
      }

      @media (max-width: 840px) {
        font-size: 18px;
      }

      @media (max-width: 600px) {
        font-size: 16px;
      }

      @media (max-width: 600px) {
        font-size: 14px;
      }

      @media (max-width: 425px) {
        font-size: 20px;
      }
    }

    @media (max-width: 600px) {
      gap: 35px;
    }

    @media (max-width: 480px) {
      gap: 25px;
    }

    @media (max-width: 375px) {
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.header--light {
  .nav {
    --secondary-color: var(--dark-color);
  }
}
