.offer {
  color: var(--light-color);
  &-content {
    &__title-group {
      @include flex-all-sb;
      align-items: start;
      flex-wrap: wrap;
      gap: 40px;

      .title-group__title {
        max-width: 544px;
      }

      .title-group__subtitle {
        max-width: 550px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: var(--light-color);
      }
    }

    @media (max-width: 480px) {
      &__title-group {
        justify-content: center;
      }

      .title-group__title {
        max-width: 380px;
        font-size: 26px;
      }

      .title-group__subtitle {
        max-width: 380px;
        font-size: 20px;
      }
    }
  }
}
