.privat-rules {
  color: var(--dark-color);
  &__content {
    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-top: 40px;
    }

    &-paragraph {
      font-size: 24px;
      line-height: 29px;

      & a {
        color: inherit;
        text-decoration: none;
      }
    }

    &-list {
      font-size: 24px;
      line-height: 29px;
      list-style-type: none;

      & li {
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: var(--dark-color);
          position: absolute;
          top: 15px;
          left: -20px;
        }

        & a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    @media (max-width: 480px) {
      max-width: 408px;
    }
  }
}
