.search-hero {
  min-height: 100vh;
  padding-top: 233px;
  padding-bottom: 120px;
  background: url("../img/google-search-bg.webp") no-repeat center/ cover,
    var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    padding-top: 178px;
    padding-bottom: 80px;
  }

  &__content {
    @media (max-width: 480px) {
      max-width: 408px;
    }

    &-title {
      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 29px;
      }
    }

    &-subtitle {
      font-size: 24px;
      line-height: 29px;
      margin-top: 40px;
      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__cta {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    @media (max-width: 480px) {
      gap: 10px;
      justify-content: center;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }
}
