.secondary-title {
  font-family: "RubikMonoOne";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 47px;

  @media (max-width: 481px) {
    font-size: 26px;
  }
}

.dark-title {
  color: var(--dark-color);
}

.light-color {
  color: var(--light-color);
}
