.video-hero {
  background: url("../img/audit-hero-bg.webp") no-repeat center/ contain;

  @supports not (background: url("../img/audit-hero-bg.webp")) {
    background: url("../img/audit-hero-bg.png") no-repeat center/ contain;
  }

  color: var(--dark-color);
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @media (max-width: 480px) {
      max-width: 408px;
    }

    &-title {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &-subtitle {
      margin-top: 40px;
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 24px;
      line-height: 29px;

      @media (max-width: 900px) {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 0;
      }

      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &-cta {
      margin-top: 60px;
      display: flex;
      align-items: center;
      gap: 30px;
      grid-column: 1/2;
      grid-row: 3/4;
      @media (max-width: 900px) {
        grid-column: 1/2;
        grid-row: 4/5;
        margin-top: 0;
      }

      @media (max-width: 480px) {
        gap: 10px;
      }

      @media (max-width: 460px) {
        flex-direction: column;
        align-items: start;
      }
    }

    &-btn {
      border: 1px solid var(--secondary-accent-color);
      &:hover {
        border: 1px solid var(--secondary-accent-color);
      }

      @media (max-width: 480px) {
        padding: 14px;
        gap: 12px;
        flex-grow: 1;
        text-align: center;
        min-width: 180px;
      }
    }

    &-form {
      grid-column: 2/3;
      grid-row: 1/4;
      justify-self: end;

      @media (max-width: 900px) {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
      }
    }
  }
}
