<section class="about-represent section-offset brown-gradient-section">
  <div class="about-represent__content container">
    <picture>
      <source srcset="img/aboutRepresentpic.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/aboutRepresentpic.jpg"
        class="about-represent__content-image"
        width="294"
        height="580"
        alt="working man"
      />
    </picture>
    <div class="about-represent__content-text">
      <p class="content-text-paragraph">
        Мы работаем на самом переднем крае цифрового маркетинга и постоянно
        следим за последними тенденциями и новшествами в отрасли. Мы инвестируем
        в постоянное развитие нашей команды и использование передовых
        инструментов и технологий, чтобы обеспечить нашим клиентам высочайший
        уровень сервиса и максимальную эффективность маркетинговых кампаний.
      </p>
      <p class="content-text-paragraph">
        Когда вы выбираете нас в качестве своего digital маркетингового
        партнера, вы получаете команду, которая будет на вашей стороне,
        поддерживая вас на каждом этапе вашего онлайн-пути. Мы готовы помочь вам
        воплотить ваши маркетинговые цели в жизнь и достичь роста вашего бизнеса
        в онлайн-мире.
      </p>
      <p class="content-text-paragraph">
        Добро пожаловать в мир возможностей digital маркетинга с агентством
        Sernero Advertising.
      </p>
    </div>
    <picture>
      <source srcset="img/aboutRepresentPicMobile.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/aboutRepresentPicMobile."
        class="about-represent__content-image-mobile"
        width="378"
        height="213"
        alt="working guy"
      />
    </picture>
  </div>
</section>
