<section class="about-hero">
  <div class="about-hero__content container">
    <div class="about-hero__content-top">
      <p class="content-top__text">
        Мы - digital маркетинговое агентство Sernero Advertising,
        специализирующееся на создании успешных онлайн-стратегий для клиентов со
        всего мира. Наша команда состоит из опытных маркетологов, креативных
        стратегов и технических гуру, объединенных общей целью - помочь вашему
        бизнесу достичь и превзойти его онлайн-потенциал.
      </p>
      <div class="content-top__cta">
        <button class="btn-reset case-button content-top__cta-btn">
          Наши кейсы
        </button>
        <button class="btn-reset case-button content-top__cta-btn">
          Наши кейсы
        </button>
        <button class="btn-reset secondary-button text__cta-button">
          <svg class="prime-msg-ico">
            <use xlink:href="img/sprite.svg#prime_message"></use>
          </svg>
          Напиши нам
        </button>
      </div>
    </div>
  </div>
</section>
