<section class="about-hero hero-section">
  <div class="about-hero__content container">
    <div class="about-hero__content-top">
      <p class="content-top__text">
        Мы - digital маркетинговое агентство Sernero Advertising,
        специализирующееся на создании успешных онлайн-стратегий для клиентов со
        всего мира. Наша команда состоит из опытных маркетологов, креативных
        стратегов и технических гуру, объединенных общей целью - помочь вашему
        бизнесу достичь и превзойти его онлайн-потенциал.
      </p>
      <div class="content-top__cta">
        <a href="/portfolio.html" class="btn btn-secondary btn--brown">Наши кейсы</a>
        <a href="/services.html" class="btn btn-primary btn--brown">Наши услуги</a>
        <a href="/contacts.html" class="btn btn-secondary btn--brown ">
          <svg class="btn-msg-ico">
            <use xlink:href="img/sprite.svg#prime_message"></use>
          </svg>
          Напиши нам
        </a>
      </div>
    </div>
    <p class="about-hero__content-text">
      В основе нашего подхода лежит глубокое понимание сущности вашего бизнеса и
      ваших целевых клиентов. Мы тщательно исследуем вашу отрасль, анализируем
      конкурентов и проводим детальный аудит вашего онлайн-присутствия, чтобы
      определить наилучшие стратегии маркетинга и раскрыть новые возможности для
      вашего бренда.
    </p>
    <p class="about-hero__content-text">
      Наш опыт включает работу с компаниями различного масштаба. Мы гордимся
      нашими успешными кейсами и долгосрочными партнерскими отношениями с нашими
      клиентами. Мы знаем, как привлечь, удерживать и расширять вашу целевую
      аудиторию, используя передовые стратегии и инновационные подходы.
    </p>
    <div class="about-hero-content__form">
      <h2 class="form__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="form__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <form action="#" class="form">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя" />
        </label>
        <label class="form__label">
          <input type="tel" name="phone" class="input-reset form__input" placeholder="Ваш телефон" />
        </label>
        <label class="form__label">
          <input type="email" name="email" class="input-reset form__input" placeholder="Ваш e-mail *" />
        </label>
        <label class="form__label">
          <input type="text" name="site-link" class="input-reset form__input" placeholder="Ваш сайт" />
        </label>
        <button type="button" class="btn-reset form__btn form__btn light-send">
          Отправить
        </button>
      </form>
      <p class="about-hero-content__form-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a>
        сайта.
      </p>
    </div>
  </div>
</section>
