<section class="advantages">
  <div class="container">
    <h2 class="advantages-title">почему именно мы</h2>
    <div class="advantages__list">
      <ol>
        <li class="advantages__list-item">
          <span>Экспертиза и опыт:</span>&nbsp;Наша команда состоит <br />
          из высококвалифицированных специалистов.
        </li>
        <li class="advantages__list-item">
          <span>Индивидуальнный подход:</span>&nbsp;Мы создаем индивидуальные
          маркетинговые стратегии, которые отвечают вашим целям и потребностям.
        </li>
        <li class="advantages__list-item">
          <span>Инновации и передовые решения:</span>&nbsp;Мы следим за
          последними тенденциями в мире маркетинга и предлагаем вам самые
          передовые инновационные решения.
        </li>
        <li class="advantages__list-item">
          <span>Комплексный подход:</span>&nbsp;Мы предлагаем широкий спектр
          услуг.
        </li>
        <li class="advantages__list-item">
          <span>Результаты и успех:</span>&nbsp;Наша главная цель - помочь
          вашему бизнесу <br />
          достичь успеха и увеличить прибыль. Мы работаем на результат и
          гордимся своими достижениями.
        </li>
      </ol>
    </div>
    <a href="portfolio.html" class="btn-reset advantages-cta case-button"
      >Наши кейсы</a
    >
    <picture>
      <source srcset="../img/home-decore.webp" type="image/webp" />
      <img
        loading="lazy"
        src="../img/home-decore.png"
        class="image"
        width="373px"
        height="361px"
        alt="decorepic"
      />
    </picture>
  </div>
</section>
