<section class="audit-result section-offset">
  <div class="container audit-result__content">
    <h2 class="audit-result__title">
      Что получает клиент
    </h2>
    <div class="audit-result__text">
      <p class="audit-result__paragraph">
        Вам будет предоставлен <span>подробный отчет с перечнем необходимых улучшений.</span> Кроме того,
        <span>будет разработана продуманная структура аккаунта и стратегия продвижения контекстной рекламы,
        </span>а также предоставлен <span>список иных изменений, способствующих повышению эффективности кампаний.</span>
      </p>
      <p class="audit-result__paragraph">
        <span>Цель аудита</span> – выявление проблем и слабых мест в вашей рекламной кампании с целью сократить издержки на
        привлечение аудитории и максимизировать отдачу от рекламных инвестиций.
      </p>
    </div>
  </div>
</section>
