<section class="audit-need section-offset">
  <div class="container audit-need__content">
    <h2 class="audit-need__title">
      Когда стоит рассмотреть возможность заказать профессиональный аудит контекстной рекламы:
    </h2>
    <div class="audit-need__text">
      <ul class="audit-need__text-column">
        <li class="audit_need__text-item">Вами была <span>самостоятельно настроена и запущена кампания</span>, но вы испытываете
          сомнения относительно правильности выполненных действий. <span>Получение экспертного мнения</span> специалиста поможет
          выявить возможные недочеты и улучшить настройки.
        </li>
        <li class="audit_need__text-item">
          Контекстную рекламу вам <span>ранее настраивали</span> сторонние контрагенты или агентства, и вы хотите оценить качество и
          эффективность их работы, а также рациональность использования бюджета.
        </li>
      </ul>
      <ul class="audit-need__text-column">
        <li class="audit_need__text-item">
          Стоимость лидов слишком высока, и вы стремитесь разобраться в причинах, почему <span>
            вложения в рекламу не приносят
            должной отдачи.
          </span>
        </li>
        <li class="audit_need__text-item">
          Контекстную рекламу настраивали сторонние агентства, и вам необходимо <span>оценить качество и эффективность</span> их
          работы, а также использование бюджета
        </li>
        <li class="audit_need__text-item">
          Вам необходимо определить, <span>наиболее эффективные ключевые слова</span> в привлечении клиентов и лидогенерации.
        </li>
      </ul>
    </div>
  </div>
</section>
