<section class="audit-tasks section-offset">
  <div class="container audit-tasks__content">
    <h2 class="audit-tasks__title">
      задачи рекламного аудита
    </h2>
    <ol class="audit-tasks__list">
      <li class="audit-tasks__item"><span>Проверка настроек аккаунта:</span> аудитория, бюджеты, ключевые слова, ставки
        и т. д.</li>
      <li class="audit-tasks__item"><span>Оценка</span> релевантности ключевых слов и объявлений: оптимизация ключевых
        слов и контента объявлений.</li>
      <li class="audit-tasks__item"><span>Анализ структуры кампаний</span> и групп объявлений: оптимизация сегментации и
        организации объявлений.</li>
      <li class="audit-tasks__item"><span>Изучение</span> качества лендингов и прелендингов: оптимизация страниц
        конверсии.</li>
      <li class="audit-tasks__item"><span>Анализ показателей эффективности:</span> CTR, CPA, ROAS и другие метрики.</li>
      <li class="audit-tasks__item"><span>Проверка</span> таргетинга и использования расширений объявлений.</li>
      <li class="audit-tasks__item"><span>Предоставление рекомендаций и плана действий</span> для оптимизации кампании.
      </li>
    </ol>
    <p class="audit-tasks__attention">
      Приступая к заказу, специалистам важно погрузиться в тематику бизнеса заказчика, понять его цели и задачи, чтобы
      провести наиболее качественный  и целенаправленный аудит контекстной рекламы, который принесет реальную пользу и
      улучшит результаты рекламной кампании.
    </p>
  </div>
</section>
