<section class="audit-product section-offset">
  <div class="container audit-product__content">
    <h2 class="audit-product__title">
      Что включает в себя <span>аудит контекстной рекламы</span>
    </h2>
    <p class="audit-product__text">
      Проведение рекламного аудита и системы аналитики является важным этапом для оптимизации и повышения эффективности
      контекстной рекламы в Google Ads. <span>Ниже представлено подробное описание каждого из пунктов аудита.</span>
    </p>
    <h3 class="audit-product__subtitle">
      Аудит рекламного аккаунта
    </h3>
    <ol class="audit-product__list">
      <li class="audit-product__item">
        <span>Проверка таргетинга по геолокации и языковых настроек:</span> проверяется, правильно ли выбраны географические
        местоположения и языки для таргетинга рекламы. Это помогает убедиться, что рекламные объявления показываются
        там, где это актуально для вашей аудитории.
      </li>
      <li class="audit-product__item">
        <span>Лимиты бюджета:</span> анализируется выделенный бюджет для каждой кампании и объявления. Проверяется, что бюджеты
        распределены оптимально для достижения поставленных целей.
      </li>
      <li class="audit-product__item">
        <span>Корректность отображения на разных устройствах:</span> убеждаемся, что рекламные объявления хорошо отображаются на
        различных устройствах.
      </li>
      <li class="audit-product__item">
        <span>Обоснованность выбора типа кампании:</span> анализируется выбор типов кампаний и их соответствие поставленным целям
        рекламы.
      </li>
      <li class="audit-product__item">
        <span>Интеграция с аналитическими сервисами:</span> проверяется наличие и корректность настроек для интеграции с
        аналитическими инструментами для получения более детальной информации об эффективности рекламы.
      </li>
      <li class="audit-product__item">
        <span>Стратегия показа объявлений и определения ставок:</span> анализируется стратегия определения ставок и показа объявлений
        для оптимизации показов и улучшения позиций объявлений.
      </li>
      <li class="audit-product__item">
        <span>Оценка релевантности ключевых слов и объявлений:</span> проверяется соответствие ключевых слов и объявлений вашим целям
        и аудитории.
      </li>
      <li class="audit-product__item">
        <span>Оценка заложенного бюджета:</span> проверяется, достаточно ли бюджета для всех рекламных инструментов и кампаний, и
        проводится рекомендация по распределению бюджета для максимальной эффективности.
      </li>
      <li class="audit-product__item">
        <span>Проверка правильности работы с запросами:</span> анализируется, что запросы и правильно определены, чтобы исключить
        нежелательные показы.
      </li>
      <li class="audit-product__item">
        <span>Анализ соответствия рекламы и ключевых слов:</span> проверяется, насколько объявления соответствуют ключевым словам и
        как это влияет на их эффективность.
      </li>
      <li class="audit-product__item">
        <span>Обнаружение недочетов на посадочных страницах и проверка ссылок на работоспособность:</span> анализируется качество и
        релевантность посадочных страниц, а также проверяется работоспособность всех ссылок.
      </li>
    </ol>
    <h3 class="audit-product__subtitle">
      Анализ систем аналитики
    </h3>
    <ol class="audit-product__list">
      <li class="audit-product__item">
        <span>Убеждаемся,</span> что данные аналитики корректно собираются и передаются.
      </li>
      <li class="audit-product__item">
        <span>Изучаем</span> изучается поведение посетителей на сайте, их заинтересованность и отказы для оптимизации кампаний.
      </li>
      <li class="audit-product__item">
        <span>Анализируем,</span> насколько успешно достигаются цели рекламных кампаний.
      </li>
      <li class="audit-product__item">
        <span>Оцениваем</span> вероятность потерь, провоцируемых слабым рейтингом, а также правильность формирования бюджета для корректировки стратегии.
      </li>
    </ol>
  </div>
</section>
