<section class="audit-price section-offset green-gradient-section">
  <div class="audit-price__content container">
    <h2 class="audit-price__title section-title">Стоимость аудита</h2>
    <div class="audit-price__main">
      <div class="audit-price__left">
        <p class="audit-price__text">
          Стоимость аудита настройки Google Ads зависит от таких факторов, как
          уровень сложности кампании, объем данных, требуемая глубина анализа,
          географический таргетинг и другие параметры.
        </p>
        <p class="audit-price__text">
          Чтобы мы могли точнее расчитать стоимость настройки вашего рекламного
          кабинета, оставьте заявку, и мы свяжемся с вами.
        </p>
        <div class="audit-price__socials-bar socials-bar">
          <a class="socials-bar__item" href="https://t.me/">
            <svg class="socials-bar__ico">
              <use xlink:href="img/sprite.svg#telegram-ico"></use>
            </svg>
          </a>
          <a class="socials-bar__item" href="https://wa.me/">
            <svg class="socials-bar__ico">
              <use xlink:href="img/sprite.svg#whatsapp-ico"></use>
            </svg>
          </a>
        </div>
      </div>
      <form action="#" class="audit-price__form main-form light-version">
        <p class="main-form__title">Запишись на консультацию</p>
        <p class="main-form__subtitle">
          Наши менеджеры свяжутся с вами в ближайшее время!
        </p>
        <div class="wrapper">
          <label class="form__label main-form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input main-form__input"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="tel"
              name="Телефон"
              class="input-reset form__input main-form__input"
              placeholder="Ваш телефон"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="email"
              name="Почта"
              class="input-reset form__input main-form__input"
              placeholder="Ваш e-mail"
            />
          </label>
        </div>
        <button class="btn-reset form__btn main-form__button">Отправить</button>
      </form>
    </div>
  </div>
</section>
