<section class="blog-hero">
  <div class="blog-hero__content container">
    <h1 class="blog-hero__content-title">Наш блог</h1>
    <p class="blog-hero__content-subtitle">
      Добро пожаловать на наш блог! Здесь мы рады поделиться с вами своими
      знаниями и опытом в области маркетинга. Мы - маркетинговое агентство,
      специализирующееся на создании и продвижении брендов, разработке стратегий
      маркетинга и управлении рекламными кампаниями.
    </p>
    <div class="blog-hero__content-cta">
      <button
        class="blog__hero-button btn-reset primary-button text__cta-button brown filled"
      >
        Наши услуги
      </button>
      <button
        class="blog__hero-button btn-reset secondary-button black-outline"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </button>
    </div>
  </div>
</section>
