<section class="blog-list">
  <div class="blog-list__content container">
    <div class="blog-list__content-item blog-item">
      <div class="blog-item__left">
        <div class="blog-item__image">
          <picture>
            <source srcset="img/blog-avatar.webp" type="image/webp" />
            <img
              loading="lazy"
              src="blog-avatar.jpg"
              class="blog-image"
              alt="author photo"
            />
          </picture>
        </div>
        <p class="blog-item__name">Олег</p>
        <p class="blog-item__position">Основатель комании</p>
      </div>
      <div class="blog-item__right">
        <p class="blog-item__title">
          "Самый важный шаг для успешного маркетинга вашего бизнеса"
        </p>
        <p class="blog-item__post">
          Определите свою целевую аудиторию. Прежде чем начать разрабатывать
          маркетинговую стратегию, необходимо понять, кому вы хотите продавать
          свой продукт или услугу. Изучите свою целевую аудиторию, исследуйте ее
          потребности, предпочтения и поведение. Это поможет вам создать более
          эффективные рекламные кампании и привлечь больше клиентов.
        </p>
      </div>
    </div>
    <div class="blog-list__content-item blog-item">
      <div class="blog-item__left">
        <div class="blog-item__image">
          <picture>
            <source srcset="img/blog-avatar.webp" type="image/webp" />
            <img
              loading="lazy"
              src="blog-avatar.jpg"
              class="blog-image"
              alt="author photo"
            />
          </picture>
        </div>
        <p class="blog-item__name">Олег</p>
        <p class="blog-item__position">Основатель комании</p>
      </div>
      <div class="blog-item__right">
        <p class="blog-item__title">
          "Самый важный шаг для успешного маркетинга вашего бизнеса"
        </p>
        <p class="blog-item__post">
          Определите свою целевую аудиторию. Прежде чем начать разрабатывать
          маркетинговую стратегию, необходимо понять, кому вы хотите продавать
          свой продукт или услугу. Изучите свою целевую аудиторию, исследуйте ее
          потребности, предпочтения и поведение. Это поможет вам создать более
          эффективные рекламные кампании и привлечь больше клиентов.
        </p>
      </div>
    </div>
    <div class="blog-list__content-item blog-item">
      <div class="blog-item__left">
        <div class="blog-item__image">
          <picture>
            <source srcset="img/blog-avatar.webp" type="image/webp" />
            <img
              loading="lazy"
              src="blog-avatar.jpg"
              class="blog-image"
              alt="author photo"
            />
          </picture>
        </div>
        <p class="blog-item__name">Олег</p>
        <p class="blog-item__position">Основатель комании</p>
      </div>
      <div class="blog-item__right">
        <p class="blog-item__title">
          "Самый важный шаг для успешного маркетинга вашего бизнеса"
        </p>
        <p class="blog-item__post">
          Определите свою целевую аудиторию. Прежде чем начать разрабатывать
          маркетинговую стратегию, необходимо понять, кому вы хотите продавать
          свой продукт или услугу. Изучите свою целевую аудиторию, исследуйте ее
          потребности, предпочтения и поведение. Это поможет вам создать более
          эффективные рекламные кампании и привлечь больше клиентов.
        </p>
      </div>
    </div>
  </div>
  <picture>
    <source srcset="img/home-decore.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/home-decore.png"
      class="blog-list__decore"
      width="373"
      height="361"
      alt="blog-list__decore"
    />
  </picture>
</section>
