<section class="contacts-hero">
  <div class="contacts-hero__content container">
    <!-- <div class="contacts-hero__content-text"> -->
    <h1 class="contacts-hero__content-title">контакты</h1>
    <p class="contacts-hero__content-subtitle">
      Mаркетинговое агентство Sernero Advertising, специализирующееся на
      создании успешных онлайн-стратегий для клиентов со всего мира. Наша
      команда состоит из опытных маркетологов, креативных стратегов и
      технических гуру, объединенных общей целью - помочь вашему бизнесу достичь
      и превзойти его онлайн-потенциал.
    </p>
    <div class="contacts-hero__content-cta">
      <button
        class="btn-reset primary-button text__cta-button black light-text"
      >
        Наши услуги
      </button>
      <button class="btn-reset secondary-button text__cta-button black-outline">
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </button>
    </div>
    <!-- </div> -->

    <form
      action="#"
      class="contacts-hero__content-form main-form black-version"
    >
      <p class="main-form__title">Запишись на консультацию</p>
      <p class="main-form__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="wrapper">
        <label class="form__label main-form__label">
          <input
            type="text"
            name="Имя"
            class="input-reset form__input main-form__input"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="tel"
            name="Имя"
            class="input-reset form__input main-form__input"
            placeholder="Ваш телефон"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="email"
            name="Имя"
            class="input-reset form__input main-form__input"
            placeholder="Ваш e-mail"
          />
        </label>
      </div>
      <button class="btn-reset form__btn main-form__button">Отправить</button>
    </form>
  </div>
</section>
