<section class="contacts-hero hero-section">
  <div class="contacts-hero__content container">
    <h1 class="contacts-hero__content-title">контакты</h1>
    <p class="contacts-hero__content-subtitle">
      Mаркетинговое агентство Sernero Advertising, специализирующееся на
      создании успешных онлайн-стратегий для клиентов со всего мира. Наша
      команда состоит из опытных маркетологов, креативных стратегов и
      технических гуру, объединенных общей целью - помочь вашему бизнесу достичь
      и превзойти его онлайн-потенциал.
    </p>
    <div class="contacts-hero__content-cta">
      <a href="/services.html" class="btn btn-primary btn--black"
        >Наши услуги</a
      >
      <a href="/contacts.html" class="btn btn-secondary btn--black">
        <svg class="btn-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
    <div class="contacts-hero__content-form">
      <form
        action="#"
        class="main-form black-version"
        id="contacts-hero-form"
      >
        <p class="main-form__title">Запишись на консультацию</p>
        <p class="main-form__subtitle">
          Наши менеджеры свяжутся с вами в ближайшее время!
        </p>
        <div class="wrapper">
          <label class="form__label main-form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset name__input form__input main-form__input"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="tel"
              name="Имя"
              class="input-reset tel__input form__input main-form__input"
              placeholder="Ваш телефон"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="email"
              name="Имя"
              class="input-reset email__input form__input main-form__input"
              placeholder="Ваш e-mail"
            />
          </label>
        </div>
        <button class="btn-reset form__btn main-form__button">Отправить</button>
      </form>
    </div>
  </div>
</section>
