<section class="ga-adv section-offset">
  <div class="ga-adv__content container">
    <h2 class="ga-adv__title section-title">
      Каковы преимущества <span>Google Analytics 4 </span>для продвижения?
    </h2>
    <div class="ga-adv__cards">
      <div class="ga-adv__cards-left">
        <div class="ga-adv__card">
          С помощью GA4 можно создавать точные и детальные профили своей
          аудитории
        </div>
        <div class="ga-adv__card">
          GA4 формирует полную аналитику о покупках на вашем сайте или в
          приложении
        </div>
        <div class="ga-adv__card">
          Сервис собирает информацию о популярности контента и взаимодействии с
          ним
        </div>
      </div>
      <div class="ga-adv__cards-right">
        <div class="ga-adv__card">
          Инструмент интегрирован в рекламные платформы Google, что дает
          возможность отслеживать эффективность рекламы и ее влияние на
          поведение пользователей
        </div>
        <div class="ga-adv__card">
          Сервис предоставляет глубокий анализ данных о поведении клиентов на
          сайте и в приложениях
        </div>
      </div>
    </div>
  </div>
</section>
