<section class="ga-cta section-offset">
  <div class="ga-cta__content container">
    <h2 class="ga-cta__title section-title">Чек-лист по настройке</h2>
    <div class="ga-cta__wrapper">
      <ol class="ga-cta__list">
        <li class="ga-cta__list-item">Создайте аккаунт Google Analytics 4</li>
        <li class="ga-cta__list-item">
          Получите код отслеживания и установите его на ресурс
        </li>
        <li class="ga-cta__list-item">
          Настройте отслеживание целей и событий, чтобы измерять важные действия
          пользователей
        </li>
        <li class="ga-cta__list-item">
          Подключите рекламные платформы Google для анализа эффективности
          рекламных кампаний
        </li>
        <li class="ga-cta__list-item">
          Создайте пользовательские отчеты и сегменты для более глубокого
          анализа данных
        </li>
        <li class="ga-cta__list-item">
          Регулярно отслеживайте данные и делайте корректировки для оптимизации
          вашей рекламной кампании
        </li>
      </ol>
      <div class="ga-cta__form">
        <form action="#" class="main-form black-version" id="ga-cta-form">
          <p class="main-form__title">Запишись на консультацию</p>
          <p class="main-form__subtitle">
            Наши менеджеры свяжутся с вами в ближайшее время!
          </p>
          <div class="wrapper">
            <label class="form__label main-form__label">
              <input
                type="text"
                name="Имя"
                class="input-reset name__input form__input main-form__input"
                placeholder="Ваше имя"
              />
            </label>
            <label class="form__label main-form__label">
              <input
                type="tel"
                name="Имя"
                class="input-reset tel__input form__input main-form__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="form__label main-form__label">
              <input
                type="email"
                name="Имя"
                class="input-reset email__input form__input main-form__input"
                placeholder="Ваш e-mail"
              />
            </label>
          </div>
          <button class="btn-reset form__btn main-form__button">Отправить</button>
        </form>
      </div>
    </div>
    <p class="ga-cta__summary">
      Мы профессионалы в области интернет-маркетинга. Заказав настройку Google
      Analytics 4 <span>у нас</span>, вы будете уверены в том, что
      <span
        >инвестиции в рекламу многократно оправдаются потоком приходящих
        клиентов</span
      >.
    </p>
  </div>
</section>
