<section class="ga-hero">
  <div class="ga-hero__content container">
    <h1 class="ga-hero__content-title">
      Правила настройки <span>Google Analytics</span>
    </h1>
    <p class="ga-hero__content-subtitle">
      <span>Самое важное</span>, что вы должны знать
    </p>
    <div class="ga-hero__content-cta">
      <a
        href="services.html"
        class="btn-reset primary-button ga-hero__content-cta-btn black light-text"
      >
        Наши услуги
      </a>
      <a
        href="contacts.html"
        class="btn-reset secondary-button ga-hero__content-cta-btn black-outline"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
    <p class="ga-hero__content-descr">
      <span>Продвижение в интернете</span> — самый эффективный способ привлечь
      потенциальных клиентов.
      <span>Около 60% жителей Европы заходят в онлайн минимум раз в день</span>,
      и упустить тех из них, кто может стать вашим покупателем, может быть
      непозволительной роскошью. Аналитические службы являются вашим главным
      помощником в том, чтобы не дать этому случиться. Правильная настройка
      такого инструмента, как Google Analytics 4,
      <span
        >поможет вам выйти на заинтересованных клиентов. Мы здесь, чтобы
        раскрыть секрет, как заставить GA4 работать на вас, и сделать рекламу
        эффективной по-настоящему</span
      >.
    </p>
  </div>
</section>
