<section class="ga-provides section-offset brown-gradient-section">
  <div class="ga-provides__content container">
    <h2 class="ga-provides__title section-title">Что дает аналитика?</h2>
    <p class="ga-provides__subtitle">
      Google Analytics 4 повысит продажи. Настроив сервис, вы будете точно
      знать, как клиенты взаимодействуют с вашим ресурсом. Это поможет точно
      ориентироваться на запросы потребителей, улучшать пользовательский опыт и
      делать рекламу эффективнее. Помимо этого, GA4 даёт доступ к технологиям
      машинного обучения и анализу данных, что позволит автоматизировать
      аналитику, выявить тренды и увеличить заметность бизнеса в интернете за
      счет предлагаемых рекомендаций.
    </p>
    <form
      action="#"
      class="ga-provides__form main-form-horizont horiz-white-version"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset name__input main-form-horizont__input"
                placeholder="Имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset tel__input main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset email__input main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Сайт"
                class="input-reset url__input main-form-horizont__input"
                placeholder="Ваш сайт"
              />
            </label>
          </div>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a> сайта.
      </p>
    </form>
  </div>
</section>
