<section class="ga-why section-offset">
  <div class="ga-why__content container">
    <h2 class="ga-why__title section-title">Почему <span>GA4</span>?</h2>
    <ol class="ga-why__list block-list">
      <li class="ga-why__list-item block-list__item">
        <div class="ga-why__list-block block-list__block">
          <p class="ga-why__list-title block-list__block-title">
            Свежая архитектура
          </p>
          <p class="ga-why__list-body block-list__block-body">
            Google Analytics 4 фиксирует события, совершаемые с мобильных
            устройств, из приложения, поддерживает cross-device отслеживание.
          </p>
        </div>
      </li>
      <li class="ga-why__list-item block-list__item">
        <div class="ga-why__list-block block-list__block">
          <p class="ga-why__list-title block-list__block-title">
            Машинное обучение
          </p>
          <p class="ga-why__list-body block-list__block-body">
            Google Analytics 4 использует технологии машинного обучения для
            предоставления более точных и полезных данных, а также для
            обнаружения ценных клиентов автоматически
          </p>
        </div>
      </li>
      <li class="ga-why__list-item block-list__item">
        <div class="ga-why__list-block block-list__block">
          <p class="ga-why__list-title block-list__block-title">
            Расширенная работа с событиями
          </p>
          <p class="ga-why__list-body block-list__block-body">
            Google Analytics 4 делает учет всех событий на сайте или в
            приложении гибким, что позволяет анализировать сложные действия
            пользователей.
          </p>
        </div>
      </li>
      <li class="ga-why__list-item block-list__item">
        <div class="ga-why__list-block block-list__block">
          <p class="ga-why__list-title block-list__block-title">
            Улучшенная персонализация
          </p>
          <p class="ga-why__list-body block-list__block-body">
            GA4 предоставляет более глубокий анализ пользовательских аудиторий,
            что позволяет создавать персонализированные отчеты и получать более
            ценные инсайты о поведении клиентов.
          </p>
        </div>
      </li>
      <li class="ga-why__list-item block-list__item">
        <div class="ga-why__list-block block-list__block">
          <p class="ga-why__list-title block-list__block-title">
            Простая миграция
          </p>
          <p class="ga-why__list-body block-list__block-body">
            Переход с предыдущей версии Google Analytics теперь еще проще
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
