<section class="google-args section-offset">
  <div class="container">
    <h2 class="google-args__title section-title">
      Аргументы “за” и <span>“против”</span> относительно Google ads
    </h2>
    <div class="google-args__box">
      <ol class="google-args__list" data-list="list1">
        <li class="google-args__item google-args__item--left">Повышение продаж на 30-120%.</li>
        <li class="google-args__item google-args__item--left">Создание потребности у аудитории, у которой ранее не было сформированной
          потребности.</li>
        <li class="google-args__item google-args__item--left">Более дешёвые лиды по сравнению с поисковой рекламой.</li>
      </ol>
      <ol class="google-args__list google-args__list--green" data-list="list2">
        <li class="google-args__item google-args__item--right">В сравнении с рекламой в поисковых системах, обычно пользователи проявляют меньший
          интерес к<span> рекламным объявлениям.</span></li>
        <li class="google-args__item google-args__item--right">Для достижения целевых лидов с помощью данного инструмента требуется значительный
          объем работы и <span>усилий </span><span>в</span> сопровождении.</li>
        <li class="google-args__item google-args__item--right">Необходимость создавать разнообразные объявления и поддерживать их отдельно
          обусловлена различным поведением и мотивацией пользователей, что существенно влияет на<span> эффективность</span>
          объявлений и стоимость продаж.</li>
      </ol>
    </div>
  </div>
</section>
