<section class="google-args section-offset">
  <div class="google-args__content container">
    <h2 class="google-args__title section-title">
      Аргументы “за” и <span>“против”</span> относительно Google ads
    </h2>
    <div class="google-args__decore">
      <div class="google-args__decore-item"></div>
      <div class="google-args__decore-item"></div>
      <div class="google-args__decore-item"></div>
      <div class="google-args__decore-item"></div>
      <div class="google-args__decore-item"></div>
      <div class="google-args__decore-item"></div>
    </div>
  </div>
</section>
