<section class="google-hero">
  <picture class="google-hero__picture" >
    <source srcset="../img/google-ads1-bg.webp" type="image/webp">
    <source srcset="../img/google-ads1-bg.png" type="image/png">
    <img loading="lazy" src="../img/google-ads1-bg.png" class="google-hero__picture" alt="google-hero">
  </picture>
  <div class="google-hero__content container">
    <h1 class="google-hero__content-title">
      Реклама<br >
      в контекстно-медийной сети <span>google</span>
    </h1>
    <p class="google-hero__content-subtitle">
      <span>Google Ads</span> – эффективный инструмент для рекламы бизнеса,
      позволяющий значительно увеличить трафик на сайт. Объявления могут быть
      представлены изображениями, текстом, видео.
    </p>
    <div class="google-hero__content-cta">
      <a href="services.html" class="btn-reset primary-button light-bg">
        Наши услуги
      </a>
      <a
        href="contacts.html"
        class="btn-reset secondary-button text__cta-button"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
  </div>
</section>
