<section class="google-content">
  <div class="google-content__content container">
    <h2 class="google-content__content-title">
      Принцип работы продвижения в Google Ads
    </h2>
    <p class="google-content__content-paragraph">
      Рассмотрим применение Google Ads на примере продвижения экологических и
      охраны природы инициатив.
    </p>
    <p class="google-content__content-paragraph">
      Допустим, есть организация, которая занимается проведением экологических
      мероприятий и предоставляет услуги по охране природы. Ее цель – привлечь
      внимание и заинтересовать потенциальных доноров, спонсоров и активистов,
      чтобы поддержать их дело.
    </p>
    <div class="google-content__list">
      <p class="google-content__list-title">
        Сильные стороны рекламной кампании в КМС для данной организации:
      </p>
      <ul class="google-content__list-list">
        <li>
          <span>Поведенческий таргетинг:</span> рекламные объявления будут
          показываться тем пользователям, которые проявляют интерес к экологии,
          природоохранной деятельности и связанным с этим тематикам. Они будут
          видеть объявления во время просмотра новостей или чтения статей о
          природе и экологии на различных сайтах.
        </li>
        <li>
          <span>Сегментация аудитории:</span> кампания будет настроена на
          определенную целевую аудиторию, включающую потенциальных доноров,
          бизнесы, заинтересованные в корпоративной социальной ответственности,
          а также активистов и обычных пользователей, поддерживающих
          экологические инициативы.
        </li>
        <li>
          <span>Широкий охват:</span> реклама будет размещена на сайтах и в
          блогах, которые посещают люди, интересующиеся экологией и окружающей
          средой, что позволит привлечь широкую аудиторию, заинтересованную в
          поддержке дела охраны природы.
        </li>
        <li>
          <span>Экономия бюджета:</span> медийная реклама обычно менее
          дорогостоящая, чем поисковая, что позволит организации с более
          ограниченным бюджетом привлечь больше заинтересованных пользователей.
        </li>
        <li>
          <span>Аналитика:</span> будут использованы аналитические системы для
          отслеживания эффективности кампании, чтобы оптимизировать показы и
          улучшить результаты.
        </li>
      </ul>
    </div>
    <form
      action="#"
      class="google-content__content-form main-form-horizont horiz-black-version"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset main-form-horizont__input"
                placeholder="Имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <div class="main-form-horizont__select">
              <select
                name=""
                id=""
                class="input-reset main-form-horizont__input"
              >
                <option value="search-advertisement">Реклама в поиске</option>
                <option value="media-advertisement">Медийная реклама</option>
                <option value="video-advertisement">Видеореклама</option>
                <option value="web-analytics">Веб-аналитика</option>
                <option value="audit">Аудит</option>
                <option value="landings-creation">Создание лендингов</option>
                <option value="seo">SEO</option>
              </select>
              <svg class="downarrow">
                <use xlink:href="img/sprite.svg#coolicon"></use>
              </svg>
            </div>
          </div>
          <label class="main-form-horizont__label">
            <input
              type="text"
              name="Сайт"
              class="input-reset main-form-horizont__input"
              placeholder="Ваш сайт"
            />
          </label>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a> сайта.
      </p>
    </form>
    <div class="google-content__list">
      <p class="google-content__list-title">
        При настройке Google Ads, мы учитываем следующие критерии для размещения
        рекламы:
      </p>
      <ul class="google-content__list-list">
        <li>
          <span>Пользовательские интересы:</span> Мы предоставляем рекламу
          потенциальным клиентам, которые проявляют интерес к определенным
          тематикам на основе их истории поиска. Это позволяет предложить
          релевантный контент, который заинтересует аудиторию.
        </li>
        <li>
          <span>Ключевые слова:</span> Наши объявления размещаются только на
          страницах, содержащих определенные ключевые слова. Таким образом,
          обеспечивается отображение контента, соответствующего содержанию
          сайта, который пользователь просматривает в данный момент.
        </li>
        <li>
          <span>Тематика площадок:</span> Google Ads имеет список
          сайтов-партнеров, покрывающих различные тематики. Это позволяет нам
          охватить широкую аудиторию, заинтересованную в определенных темах.
        </li>
        <li>
          <span>Списки ремаркетинга:</span> Мы показываем рекламу тем
          пользователям, которые уже посещали определенные страницы. При этом
          наше объявление отображается на различных страницах, где есть
          возможность для размещения рекламы.
        </li>
      </ul>
    </div>
  </div>
</section>
