<section class="hero">
  <div class="hero__content container">
    <div class="content__text">
      <h1 class="content__text-title">
        Умный <span>digital маркетинг </span> <br />
        для Вашего бизнеса
      </h1>
      <p class="content__text-subtitle">
        Мощные стратегии. Прогнозируемые результаты. Наша команда готова
        привести ваш бренд к успеху.
      </p>
      <div class="content__text-cta">
        <button class="btn-reset primary-button text__cta-button">
          Наши услуги
        </button>
        <button class="btn-reset secondary-button text__cta-button">
          <svg class="prime-msg-ico">
            <use xlink:href="img/sprite.svg#prime_message"></use>
          </svg>
          Напиши нам
        </button>
      </div>
    </div>
    <div class="content__form">
      <form action="#" class="form">
        <p class="content__form-title">Запишись на консультацию</p>
        <p class="content__form-subtittle">
          Наши менеджеры свяжутся с вами в ближайшее время!
        </p>
        <div class="form__labels">
          <label class="form__labels-item">
            <input
              type="text"
              name="Имя"
              class="input-reset form__input"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__labels-item">
            <input
              type="phone"
              name="Телефон"
              class="input-reset form__input"
              placeholder="Ваш телефон"
            />
          </label>
          <label class="form__labels-item">
            <input
              type="email"
              name="email"
              class="input-reset form__input"
              placeholder="Ваш e-mail"
            />
          </label>
        </div>
        <button type="button" class="btn-reset form__btn black">
          Отправить
        </button>
      </form>
    </div>
  </div>
</section>
