<section class="landing-hero hero-section">
  <picture>
    <source srcset="img/landing-hero-bg.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/landing-hero-bg.jpg"
      class="landing-hero__image"
      alt="hero-bg"
    />
  </picture>
  <div class="landing-hero__content container">
    <h1 class="landing-hero__content-title">Создание лендингов</h1>
    <p class="landing-hero__content-subtitle">
      Что представляет собой лендинг? Каковы его основные функции и в чем
      заключается уникальность по сравнению с другими типами сайтов? Как
      происходит процесс создания страницы лендинга? Здесь мы представим
      всесторонний обзор таких сайтов и предоставим ответы на вопросы выше.
    </p>
    <div class="landing-hero__content-cta">
      <a
        href="services.html"
        class="btn-reset primary-button light-bg landing-hero__content-btn"
      >
        Наши услуги
      </a>
      <a
        href="contacts.html"
        class="btn-reset secondary-button text__cta-button landing-hero__content-btn"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
  </div>
</section>
