<section class="landing-variants section-offset">
  <div class="landing-variants__content container">
    <h2 class="landing-variants__content-title">Варианты лендингов</h2>
    <div class="landing-variants__cards">
      <div class="landing-variants__cards-item">
        <p class="landing-variants__cards-title">Одноцелевой</p>
        <p class="landing-variants__cards-desc">
          Это наиболее популярный и простой тип лендинга, который имеет одну
          конкретную цель или предложение. Основное внимание уделяется
          продвижению одного продукта, услуги или акции. Целью является
          максимальная конверсия посетителей на этот один элемент.
        </p>
        <a href="#variants" class="landing-variants__cards-btn"
          >Узнать стоимость</a
        >
      </div>
      <div class="landing-variants__cards-item">
        <p class="landing-variants__cards-title">Многоцелевой</p>
        <p class="landing-variants__cards-desc">
          Лендинги с несколькими целями обычно предлагают несколько вариантов
          действий для посетителей. Например, предлагают покупку продукта,
          подписку на рассылку и скачивание бесплатного контента. Это позволяет
          удовлетворить различные потребности и предпочтения пользователей.
        </p>
        <a href="#variants" class="landing-variants__cards-btn"
          >Узнать стоимость</a
        >
      </div>
      <div class="landing-variants__cards-item">
        <p class="landing-variants__cards-title">Лид-генерационный</p>
        <p class="landing-variants__cards-desc">
          Лендинги этого типа используются для сбора контактов потенциальных
          клиентов. Обычно на таких лендингах размещается форма для подписки на
          рассылку, получения бесплатного контента или запроса обратного звонка.
        </p>
        <a href="#variants" class="landing-variants__cards-btn"
          >Узнать стоимость</a
        >
      </div>
      <div class="landing-variants__cards-item">
        <p class="landing-variants__cards-title">Продуктовый</p>
        <p class="landing-variants__cards-desc">
          Такие лендинги фокусируются на продвижении конкретного продукта или
          услуги. Они предоставляют подробную информацию о продукте, его
          преимуществах, особенностях и вариантах покупки.
        </p>
        <a href="#variants" class="landing-variants__cards-btn"
          >Узнать стоимость</a
        >
      </div>
    </div>
    <p class="landing-variants__content-paragraph">
      Важно создавать лендинги, которые максимально соответствуют вашим
      маркетинговым целям и предпочтениям вашей аудитории. Каждый тип лендинга
      имеет свои преимущества и подходит для разных сценариев продвижения
      продуктов и услуг.
    </p>
    <p class="landing-variants__content-paragraph">
      Чтобы создать продающий лендинг, вы можете обратиться к нам. Цены на
      создание лендингов варьируются в зависимости от комплексности проекта и
      начинаются от 150 евро.
    </p>
    <p class="landing-variants__content-paragraph">
      Также возможен вариант самостоятельного создания лендинга на популярных
      CMS (системах управления содержимым), таких как Wordpress. Для этого
      необходимо заплатить за регистрацию домена плюс внести плату за хостинг.
      Создание лендинга на CMS потребует глубокого погружения и затрат времени,
      поэтому при отсутствии опыта рекомендуется обратиться за помощью к нам.
    </p>
  </div>
</section>
