<section class="landing-order section-offset" id="variants">
  <div class="landing-order__content container">
    <h2 class="landing-order__content-title section-title">
      Заказать разработку лендинга
    </h2>
    <form
      action="#"
      class="google-content__content-form main-form-horizont horiz-black-version"
      id="landing-order-form"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость создания лендинга
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset name__input main-form-horizont__input"
                placeholder="Ваше имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset tel__input main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset email__input main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Сайт"
                class="input-reset url__input main-form-horizont__input"
                placeholder="Ваш сайт"
              />
            </label>
          </div>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="privat-policy.html">политикой конфиденциальности</a> сайта.
      </p>
    </form>
    <p class="landing-order__content-paragraph">
      Мы разрабатываем лендинги различных типов: от классических многоцелевых до
      «коротких». Независимо от цели вашего лендинга, мы создадим эффективный
      макет, привлекательный дизайн и продающий контент, чтобы каждый посетитель
      сайта стал потенциальным клиентом.
    </p>
    <p class="landing-order__content-paragraph">
      Наш опыт и знания позволят максимально оптимизировать ваш сайт для
      поисковых систем, что повысит его видимость и привлечет больше
      органического трафика.
    </p>
    <p class="landing-order__content-paragraph">
      Не упускайте возможность увеличить эффективность вашего бизнеса.
      <span
        >Закажите лендинг у нас прямо сейчас и начните привлекать новых клиентов
        уже сегодня.</span
      >
    </p>
  </div>
</section>
