<section class="landing-structure section-offset">
  <div class="landing-structure__content container">
    <h2 class="landing-structure__content-title">Структура лендинга</h2>
    <p class="landing-structure__content-subtitle">
      Структура лендинга обычно состоит из следующих основных элементов:
    </p>
    <ol class="landing-structure__list">
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Заголовок:</p>
          <p class="landing-structure__list-body">
            Привлекательный и убедительный заголовок, который привлекает
            внимание посетителя и ясно сообщает основное преимущество продукта
            или предложения.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Подзаголовок:</p>
          <p class="landing-structure__list-body">
            Дополнительная информация, которая уточняет основное предложение и
            подкрепляет его привлекательность.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Изображение или видео:</p>
          <p class="landing-structure__list-body">
            Визуальный элемент, который дополняет заголовок и подзаголовок,
            помогает лучше представить продукт или услугу, иллюстрирует его
            использование или преимущества.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Описание предложения:</p>
          <p class="landing-structure__list-body">
            Краткое и четкое описание основных характеристик продукта или
            услуги, а также преимуществ, которые получит пользователь.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Преимущества:</p>
          <p class="landing-structure__list-body">
            Перечисление ключевых преимуществ продукта или услуги, которые
            подтверждают его ценность для клиента.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Призыв к действию (CTA):</p>
          <p class="landing-structure__list-body">
            Четкий и заманчивый призыв к действию, который указывает посетителю,
            что нужно сделать далее (например, "Купить сейчас",
            "Зарегистрироваться", "Скачать бесплатно" и т. д.).
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Форма для сбора данных:</p>
          <p class="landing-structure__list-body">
            Если цель лендинга - сбор контактных данных или лидогенерация, то
            размещается форма, которую посетитель должен заполнить.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">
            Дополнительные преимущества или информация:
          </p>
          <p class="landing-structure__list-body">
            Дополнительные элементы, такие как гарантии, дополнительные
            предложения, контактные данные и т. д.
          </p>
        </div>
      </li>
      <li class="landing-structure__list-item">
        <div class="landing-structure__list-block">
          <p class="landing-structure__list-title">Футер</p>
          <p class="landing-structure__list-body">
            Информация о компании, ссылки на социальные сети, политика
            конфиденциальности и другая дополнительная информация.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
