<section class="landing-diff section-offset">
  <div class="landing-diff__content container">
    <h2 class="landing-diff__content-title section-title">
      Чем лендинг отличается от <br />
      других сайтов?
    </h2>
    <p class="landing-diff__content-text">
      <span>Лендинг</span> – это специализированный тип веб-сайтов, который
      имеет простую цель - увеличить конверсию, то есть превратить максимальное
      количество посетителей в клиентов, совершивших желаемое действие.
    </p>
    <a href="portfolio.html" class="btn-reset advantages-cta case-button"
      >Наши кейсы</a
    >
    <form
      action="#"
      class="contacts-hero__content-form main-form black-version"
    >
      <p class="main-form__title">Запишись на консультацию</p>
      <p class="main-form__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="wrapper">
        <label class="form__label main-form__label">
          <input
            type="text"
            name="Имя"
            class="input-reset name__input form__input main-form__input"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="tel"
            name="Имя"
            class="input-reset tel__input form__input main-form__input"
            placeholder="Ваш телефон"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="email"
            name="Имя"
            class="input-reset email__input form__input main-form__input"
            placeholder="Ваш e-mail"
          />
        </label>
      </div>
      <button class="btn-reset form__btn main-form__button">Отправить</button>
    </form>
  </div>
</section>
