<section class="landing-list section-offset">
  <div class="landing-list__content container">
    <h2 class="landing-list__content-title">Основная цель лендинга</h2>
    <p class="landing-list__content-subtitle">
      <span>Основная цель лендинга</span> - это привлечение и максимизация
      конверсии клиентов. Лендинг создается для того, чтобы
      <span>привлечь внимание пользователя</span>, предоставить ему информацию о
      конкретном продукте, услуге или событии, и
      <span>побудить его совершить желаемое действие</span>.
    </p>
    <p class="landing-list__content-subtitle">
      В качестве конверсионных целей на лендинге могут быть различные действия,
      например:
    </p>
    <ol class="landing-list__content-list">
      <li>Покупка продукта или услуги.</li>
      <li>Подписка на рассылку или получение бесплатного контента.</li>
      <li>Заполнение формы для получения консультации или обратного звонка.</li>
      <li>Регистрация на вебинар, мероприятие или акцию.</li>
      <li>Скачивание мобильного приложения.</li>
      <li>Посещение офлайн-магазина или офиса компании.</li>
      <li>Подтверждение интереса или лидогенерация.</li>
    </ol>
    <p class="landing-list__content-subtitle">
      Цель лендинга заключается в том, чтобы
      <span
        >убедить посетителя во важности или привлекательности предложения</span
      >, предоставить информацию, которая приведет к принятию решения о
      действии, и предоставить простой и ясный путь для его выполнения.
    </p>
    <form
      action="#"
      class="google-content__content-form main-form-horizont horiz-white-version"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset main-form-horizont__input"
                placeholder="Имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Сайт"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш сайт"
              />
            </label>
          </div>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a> сайта.
      </p>
    </form>
    <p class="landing-list__content-subtitle">
      Перейти к списку <a href="services.html">всех услуг</a>
    </p>
  </div>
</section>
