<header class="light-header">
  <div class="header__inner container">
    <a class="header__logo" href="#">
      <img
        class="header__logo-image"
        loading="lazy"
        src="../img/sernero_dark-logo.svg"
        alt="company logo"
      />
    </a>
    <nav class="header__nav light-nav" title="Navigation">
      <ul class="list-reset light-nav__list">
        <li class="light-nav__item">
          <a href="#" class="light-nav__list-link light-nav__list-link--active"
            >О нас</a
          >
        </li>
        <li class="light-nav__item">
          <a href="#" class="light-nav__list-link">Услуги</a>
        </li>
        <li class="light-nav__item">
          <a href="#" class="light-nav__list-link">Портфолио</a>
        </li>
        <li class="light-nav__item">
          <a href="#" class="light-nav__list-link">Блог</a>
        </li>
        <li class="light-nav__item">
          <a href="#" class="light-nav__list-link contacts-link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
