<section class="portfolio-hero">
  <div class="portfolio-hero__content container">
    <div class="content__top">
      <h1 class="content__top-title">наши кейсы</h1>
      <p class="content__top-text">
        Мы предлагаем широкий спектр услуг, включая создание и продвижение
        бренда, разработку стратегии маркетинга, анализ рынка и конкурентов,
        управление рекламными кампаниями и многое другое.
      </p>
    </div>
    <div class="content__bottom">
      <button class="btn-reset primary-button text__cta-button portfolio-btn">
        Наши услуги
      </button>
      <button class="btn-reset secondary-button text__cta-button portfolio-btn">
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </button>
    </div>
  </div>
</section>
