<section class="portfolio-list">
  <div class="portfolio-list__content container">
    <div class="portfolio-list__item">
      <picture>
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/case-item-image.jpg"
          class="portfolio__item-image"
          width="558"
          height="365"
          alt="successfull case"
        />
      </picture>
      <div class="portfolio__item-text">
        <p class="item__text-paragraph">
          <span>B2B аутсорс услуги: </span>снизили цену заказа в 21 раз за счет
          применения особых аудиторий по намерениям
        </p>
        <p class="item__text-paragraph">
          <span>Коэффициент конверсии:</span>вырос в 7 раз
        </p>
        <p class="item__text-paragraph">
          <span>Стоимость конверсии: </span>от $315/конв до $15/конв
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture>
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/case-item-image.jpg"
          class="portfolio__item-image"
          width="558"
          height="365"
          alt="successfull case"
        />
      </picture>
      <div class="portfolio__item-text">
        <p class="item__text-paragraph">
          <span>Салон красоты:</span>полностью заполнили салон клиентами снизив
          в 2 раза стоимость привлечения за счет постоянной оптимизации
        </p>
        <p class="item__text-paragraph">
          <span>Стоимость конверсии:</span>от 178 грн/конв до 98 грн/конв
        </p>
        <p class="item__text-paragraph">
          <span>Конверсии: </span>овыросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture>
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/case-item-image.jpg"
          class="portfolio__item-image"
          width="558"
          height="365"
          alt="successfull case"
        />
      </picture>
      <div class="portfolio__item-text">
        <p class="item__text-paragraph">
          <span>B2B аутсорс услуги: </span>снизили цену заказа в 21 раз за счет
          применения особых аудиторий по намерениям
        </p>
        <p class="item__text-paragraph">
          <span>Коэффициент конверсии:</span>вырос в 7 раз
        </p>
        <p class="item__text-paragraph">
          <span>Стоимость конверсии: </span>от $315/конв до $15/конв
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture>
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/case-item-image.jpg"
          class="portfolio__item-image"
          width="558"
          height="365"
          alt="successfull case"
        />
      </picture>
      <div class="portfolio__item-text">
        <p class="item__text-paragraph">
          <span>Салон красоты: </span>полностью заполнили салон клиентами снизив
          в 2 раза стоимость привлечения за счет постоянной оптимизации
        </p>
        <p class="item__text-paragraph">
          <span>Стоимость конверсии:</span>от 178 грн/конв до 98 грн/конв
        </p>
        <p class="item__text-paragraph">
          <span>Конверсии: </span>выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture>
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/case-item-image.jpg"
          class="portfolio__item-image"
          width="558"
          height="365"
          alt="successfull case"
        />
      </picture>
      <div class="portfolio__item-text">
        <p class="item__text-paragraph">
          <span>Интернет-магазин дизайнерской мебели: </span>вывели рекламу из
          убыточности на хорошую прибыль через цепочку ремаркетинга
        </p>
        <p class="item__text-paragraph">
          <span>Стоимость конверсии: </span>от $40/конв до $20/конв
        </p>
        <p class="item__text-paragraph"><span>ROAS: </span>от -27% до +725%</p>
      </div>
    </div>
  </div>
</section>
