<section class="portfolio-list section-offset">
  <div class="portfolio-list__content container">
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Сервис:</span> устранение засоров / потопов
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Сделано:</span> Пересобрали семантическое ядро Переписали рекламные объявления Запустили типы кампаний,
          где конкуренты не
          перегревают аукцион ставками +многое другое
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Результат:</span> Конверсий больше на 343.75%, цена конверсии снижена на 61.81%
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Срок:</span> 1 месяц
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>B2B аутсорс услуги:</span> снизили цену заказа в 21 раз за счет применения особых аудиторий по
          намерениям
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Коэффициент конверсии:</span> вырос в 7 раз
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от $315/конв до $15/конв
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
    <div class="portfolio-list__item">
      <picture class="portfolio-list__item-image">
        <source srcset="img/case-item-image.webp" type="image/webp" />
        <img loading="lazy" src="img/case-item-image.jpg" class="portfolio-list__item-image" alt="successfull case"
          data-lightbox="gallery" />
      </picture>
      <div class="portfolio-list__item-text">
        <p class="portfolio-list__text-paragraph">
          <span>Салон красоты:</span> полностью заполнили салон клиентами снизив в 2 раза стоимость привлечения за счет
          постоянной
          оптимизации
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Стоимость конверсии:</span> от 178 грн/конв до 98 грн/конв
        </p>
        <p class="portfolio-list__text-paragraph">
          <span>Конверсии:</span> выросли в 6 раз
        </p>
      </div>
    </div>
  </div>
</section>
<div class="overlay">
  <div class="lightbox">
  </div>
  <img src="../img/close-button.png" alt="close" class="close-button">
</div>
