<section class="privat-hero">
  <div class="privat-hero__content container">
    <h1 class="privat-hero__content-title">
      Политика конфиденциальности и условия использования
    </h1>
    <div class="privat-hero__content-cta">
      <a
        href="services.html"
        class="btn-reset case-button content-top__cta-btn brown filled"
      >
        Наши услуги
      </a>
      <a
        href="contacts.html"
        class="btn-reset secondary-button text__cta-button brown"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
  </div>
</section>
