<section class="privat-hero">
  <div class="privat-hero__content container">
    <h1 class="privat-hero__content-title">
      Политика конфиденциальности и условия использования
    </h1>
    <div class="privat-hero__content-cta">
      <a href="/services.html" class="btn btn-primary btn--brown">Наши услуги</a>
      <a href="/contacts.html" class="btn btn-secondary btn--brown">
        <svg class="btn-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
  </div>
</section>
