<section class="search-how section-offset">
  <div class="search-how__content container">
    <h2 class="search-how__content-title section-title">
      Как работает реклама в поиске
    </h2>
    <ol class="search-how__list block-list">
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Аукцион ключевых слов
          </p>
          <p class="search-how__list-body block-list__block-body">
            Реклама в Google поиске основана на системе аукциона ключевых слов.
            Рекламодатели выбирают ключевые слова или фразы, которые
            соответствуют запросам пользователей, и определяют ставки на эти
            ключевые слова. Когда пользователь вводит запрос в поисковую строку
            Google, запускается аукцион, где участвуют релевантные объявления.
          </p>
        </div>
      </li>
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Определение релевантности
          </p>
          <p class="search-how__list-body block-list__block-body">
            Google определяет, какие объявления считать наиболее релевантными
            для каждого запроса. Это делается с помощью различных факторов,
            таких как качество объявления, соответствие ключевым словам и
            лендингу, а также история показов и кликов объявления.
          </p>
        </div>
      </li>
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Оценка объявлений
          </p>
          <p class="search-how__list-body block-list__block-body">
            Рекламодатели указывают ставки на ключевые слова и устанавливают
            бюджеты для своих рекламных кампаний. Google оценивает релевантность
            объявления и ставку рекламодателя, чтобы определить ранжирование
            объявлений на странице результатов поиска.
          </p>
        </div>
      </li>
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Позиция объявлений
          </p>
          <p class="search-how__list-body block-list__block-body">
            Объявления, считающиеся наиболее релевантными и имеющие достаточно
            высокую ставку, получают лучшие позиции на странице результатов
            поиска Google. Объявления могут отображаться вверху страницы, под
            органическими результатами поиска или внизу страницы.
          </p>
        </div>
      </li>
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Расширения объявлений
          </p>
          <p class="search-how__list-body block-list__block-body">
            Google также предоставляет возможность добавлять расширения
            объявлений, которые позволяют расширить информацию в объявлении,
            например, добавить ссылки на различные страницы сайта, номера
            телефонов и многое другое. Расширения могут улучшить видимость и
            эффективность объявлений.
          </p>
        </div>
      </li>
      <li class="search-how__list-item block-list__item">
        <div class="search-how__list-block block-list__block">
          <p class="search-how__list-title block-list__block-title">
            Аналитика и оптимизация
          </p>
          <p class="search-how__list-body block-list__block-body">
            Рекламодатели могут отслеживать производительность своих рекламных
            кампаний с помощью инструментов аналитики Google Ads. Это позволяет
            им анализировать трафик, конверсии и оценивать ROI своих рекламных
            усилий. На основе этих данных они могут оптимизировать свои
            кампании, чтобы получить наилучшие результаты.
          </p>
        </div>
      </li>
    </ol>
    <p class="search-how__attention attention-message">
      Важно отметить, что услуга поисковой рекламы требует оплату только
      реальных переходов пользователей на ваш сайт. Стоимость одного клика
      зависит от сферы, в которой действует ваш бизнес, и может начинаться от
      0,05 евро.
    </p>
    <form action="#" class="search-how__form main-form-horizont horiz-black-version" id="search-how-form">
      <p class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </p>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <label class="main-form-horizont__label">
          <input type="text" name="Имя"
            class="input-reset main-form-horizont__input name__input home-horiz-form__input-name"
            placeholder="Ваше имя" />
        </label>
        <label class="main-form-horizont__label">
          <input type="tel" name="Телефон"
            class="input-reset main-form-horizont__input tel__input home-horiz-form__input-tel"
            placeholder="Ваш телефон" />
        </label>
        <label class="main-form-horizont__label">
          <input type="email" name="Почта"
            class="input-reset main-form-horizont__input email__input home-horiz-form__input-email"
            placeholder="Ваш e-mail" />
        </label>
        <label class="main-form-horizont__label">
          <input type="text" name="Сайт"
            class="input-reset main-form-horizont__input url__input home-horiz-form__input-name-website"
            placeholder="Ваш сайт" />
        </label>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с <a href="privat-policy.html">политикой конфиденциальности</a> сайта.
      </p>
    </form>
  </div>
</section>
