<section class="search-advantages section-offset">
  <div class="search-advantages__content container">
    <h2 class="search-advantages__content-title section-title">
      Преимущества использования рекламы в Google
    </h2>
    <div class="search-advantages__cards">
      <div class="search-advantages__cards-wrapper">
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Высокая релевантность:</p>
          <p class="search-advantages__cards-body">
            реклама в Google поиске показывается только тем пользователям,
            которые ищут информацию, связанную с продуктами или услугами
            рекламодателя. Это обеспечивает высокую степень релевантности, что
            повышает вероятность привлечения заинтересованных клиентов.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Гибкий бюджет:</p>
          <p class="search-advantages__cards-body">
            Google Ads позволяет устанавливать дневные бюджеты для рекламных
            кампаний, что позволяет контролировать расходы и оптимизировать
            рекламную стратегию.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Расширения объявлений:</p>
          <p class="search-advantages__cards-body">
            Google предоставляет возможность добавлять расширения объявлений,
            которые позволяют расширить информацию в объявлении и повысить его
            привлекательность для пользователей.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">
            Географический таргетинг:
          </p>
          <p class="search-advantages__cards-body">
            рекламодатели могут настраивать показ объявлений только для
            определенных регионов или стран, что особенно полезно для локальных
            бизнесов.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">
            Возможность конкурировать с крупными компаниями:
          </p>
          <p class="search-advantages__cards-body">
            благодаря аукционной модели, даже небольшим компаниям и стартапам
            есть возможность показывать свои объявления на первых позициях в
            поисковой выдаче и конкурировать с крупными игроками.
          </p>
        </div>
      </div>
      <div class="search-advantages__cards-wrapper">
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Точность таргетинга:</p>
          <p class="search-advantages__cards-body">
            рекламодатели могут выбирать ключевые слова и фразы, с помощью
            которых их объявления будут показываться. Это позволяет точно
            настроить таргетинг и достигать целевой аудитории.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Оплата за клики:</p>
          <p class="search-advantages__cards-body">
            рекламодатели платят только за фактические клики на свои объявления,
            а не за показы. Это уменьшает риск и обеспечивает эффективное
            использование рекламного бюджета.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Мгновенный запуск:</p>
          <p class="search-advantages__cards-body">
            реклама в Google поиске может быть запущена практически мгновенно
            после настройки рекламной кампании. Это позволяет быстро реагировать
            на изменения рынка и тренды.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Измерение результатов:</p>
          <p class="search-advantages__cards-body">
            с помощью инструментов аналитики Google Ads рекламодатели могут
            отслеживать производительность своих кампаний, анализировать трафик,
            конверсии и оценивать возврат инвестиций. Это позволяет
            оптимизировать рекламные кампании и повысить их эффективность.
          </p>
        </div>
        <div class="search-advantages__cards-item">
          <p class="search-advantages__cards-title">Адаптивность:</p>
          <p class="search-advantages__cards-body">
            рекламные кампании в Google поиске могут быть легко адаптированы и
            оптимизированы в режиме реального времени, что позволяет быстро
            реагировать на изменения в потребительском спросе и рынке.
          </p>
        </div>
      </div>
    </div>
    <p class="search-advantages__content-summary">
      Все эти преимущества делают рекламу в Google поиске мощным инструментом
      <span
        >для привлечения новых клиентов, увеличения продаж и повышения
        узнаваемости бренда</span
      >.
    </p>
  </div>
</section>
