<section class="search-setup section-offset">
  <div class="search-setup__content container">
    <h2 class="search-setup__content-title section-title">
      Настройка поисковой рекламы
    </h2>
    <p class="search-setup__content-subtitle">
      Наш опыт показывает, что максимальная эффективность рекламной кампании
      достигается, если мы следуем этапам, описанным ниже.
    </p>
    <ol class="search-setup__list block-list">
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Определяем целей рекламной кампании
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Это может быть увеличение продаж, повышение посещаемости вашего
            сайта, привлечение лидов и т. д.
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Исследуем ключевые слова
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Используем инструменты ключевых слов Google Ads, чтобы найти
            релевантные и популярные запросы, которые пользователи используют
            для поиска информации о нише клиента.
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Создаем рекламную группу
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Группируем связанные ключевые слова вместе, чтобы сделать рекламную
            кампанию более структурированной и целенаправленной.
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Пишем рекламные объявления
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Объявления содержат четкий заголовок, уникальное товарное
            предложение, основное преимущество вашего продукта или услуги, а
            также ясный призыв к действию (CTA).
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Определяем бюджет
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Устанавливаем дневной бюджет для своей рекламной кампании
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Настраиваем ключевые слова и ставки
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Добавляем выбранные ключевые слова в соответствующие рекламные
            группы. Затем определяем ставки на ключевые слова — это сумма денег,
            которую планируется заплатить за каждый клик на ваше объявление.
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Устанавливаем настройки показа
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Настраиваем параметры показа объявлений, включая географическую
            локацию, время показа объявлений и устройства, на которых они будут
            отображаться.
          </p>
        </div>
      </li>
      <li class="search-setup__list-item block-list__item">
        <div class="search-setup__list-block block-list__block">
          <p class="search-setup__list-title block-list__block-title">
            Мониторим и оптимизируем
          </p>
          <p class="search-setup__list-body block-list__block-body">
            Отслеживаем производительность рекламных кампаний с помощью
            инструментов аналитики Google Ads. Основываясь на данных, проводим
            оптимизацию кампании, внося изменения в ключевые слова, ставки,
            объявления и лендинги для улучшения результатов и достижения ваших
            целей.
          </p>
        </div>
      </li>
    </ol>

    <form
      action="#"
      class="search-setup__form main-form-horizont horiz-brown-version"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset name__input main-form-horizont__input"
                placeholder="Имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset tel__input main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset email__input main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Сайт"
                class="input-reset url__input main-form-horizont__input"
                placeholder="Ваш сайт"
              />
            </label>
          </div>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="privat-policy.html">политикой конфиденциальности</a> сайта.
      </p>
    </form>
  </div>
</section>
