<section class="search-negatives section-offset">
  <div class="search-negatives__content container">
    <h2 class="search-negatives__content-title section-title">
      Минусы рекламы в поисковой выдаче
    </h2>
    <p class="search-negatives__subtitle">
      <span>Реклама в Google поиске имеет свои недостатки</span>, и
      рекламодатели должны быть внимательны к ним, чтобы эффективно использовать
      свой рекламный бюджет:
    </p>
    <div class="search-negatives__cards">
      <div class="search-negatives__cards-item">
        <p class="search-negatives__cards-title">
          Конкуренция и стоимость кликов
        </p>
        <p class="search-negatives__cards-body">
          В некоторых отраслях и с популярными ключевыми словами может быть
          высокая конкуренция среди рекламодателей. Это может привести к
          увеличению стоимости кликов на объявления и снижению эффективности
          кампании. Рекламодатели могут потратить значительные суммы на рекламу,
          но не получить достаточного количества кликов или конверсий.
        </p>
      </div>
      <div class="search-negatives__cards-item">
        <p class="search-negatives__cards-title">
          Вероятность некликабельных показов
        </p>
        <p class="search-negatives__cards-body">
          Некоторые пользователи могут просматривать результаты поиска, не
          кликая на объявления, а предпочитая переходить на органические
          результаты или другие страницы. Это может привести к тому, что
          объявление получает много показов, но недостаточно кликов, что
          повлияет на общую эффективность рекламной кампании.
        </p>
      </div>
      <div class="search-negatives__cards-item">
        <p class="search-negatives__cards-title">
          Риск некачественного трафика
        </p>
        <p class="search-negatives__cards-body">
          При неправильной выборе ключевых слов или недостаточной оптимизации
          кампании может возникнуть риск привлечения некачественного трафика.
          Некоторые пользователи могут случайно кликнуть на объявление или быть
          не заинтересованы в предлагаемых товарах или услугах. Это может
          увеличить расходы на рекламу без соответствующего увеличения
          конверсий.
        </p>
      </div>
    </div>
    <p class="search-negatives__attention attention-message">
      Важно отметить, что эти минусы не являются неизбежными, и хорошо
      спланированная и оптимизированная рекламная кампания в Google поиске может
      быть очень успешной. Однако для успешного использования рекламы в Google
      поиске рекламодатели должны тщательно изучить свою целевую аудиторию,
      ключевые слова и оптимизировать свои объявления и лендинг страницы для
      достижения максимальной эффективности.
    </p>
  </div>
</section>
