<section class="search-diffs section-offset">
  <div class="search-diffs__content container">
    <h2 class="search-diffs__content-title section-title">
      <span>Отличия</span> поисковой рекламы от <br />
      медийной
    </h2>
    <p class="search-diffs__content-subtitle">
      Поисковая реклама и медийная реклама представляют разные подходы к
      онлайн-рекламе, которые имеют свои особенности и применение:
    </p>
    <div class="search-diffs__differences">
      <p class="search-diffs__differences-title">поисковая реклама</p>
      <p class="search-diffs__differences-title">Медийная реклама</p>
      <div class="search-diffs__differences-sub main-goal">
        Основное назначение
      </div>
      <div class="search-diffs__differences-sub targeting">таргетинг</div>
      <div class="search-diffs__differences-sub format">Формат объявлений</div>
      <div class="search-diffs__differences-sub sales">этап воронки продаж</div>
      <div class="search-diffs__differences-sub main-goal-second hidden-sub">
        Основное назначение
      </div>
      <div class="search-diffs__differences-sub targeting-second hidden-sub">
        таргетинг
      </div>
      <div class="search-diffs__differences-sub format-second hidden-sub">
        Формат объявлений
      </div>
      <div class="search-diffs__differences-sub sales-second hidden-sub">
        этап воронки продаж
      </div>
      <div class="search-diffs__differences-item first">
        <p>
          Направлена на привлечение клиентов, которые активно ищут конкретную
          информацию в поисковых системах. Реклама отображается в результатах
          поиска по ключевым словам, связанным с запросами пользователей.
        </p>
      </div>
      <div class="search-diffs__differences-item second">
        <p>
          Направлена на широкую аудиторию, которая может не искать конкретную
          информацию в данный момент. Реклама размещается на различных
          интернет-площадках, таких как веб-сайты, социальные сети,
          видеохостинги и т. д.
        </p>
      </div>
      <div class="search-diffs__differences-item third">
        <p>
          Осуществляется путем выбора ключевых слов, которые соответствуют
          запросам пользователей. Реклама показывается только тем, кто активно
          ищет информацию, связанную с этими ключевыми словами.
        </p>
      </div>
      <div class="search-diffs__differences-item fourth">
        <p>
          Использует различные методы таргетинга, такие как демографический,
          интересы, поведение пользователей и контекстное размещение. Реклама
          может быть показана широкой аудитории, которая соответствует выбранным
          параметрам.
        </p>
      </div>
      <div class="search-diffs__differences-item fifth">
        <p>
          Объявления обычно состоят из заголовка, описания и ссылки на лендинг.
          Формат направлен на предоставление информации и решение проблемы
          пользователя.
        </p>
      </div>
      <div class="search-diffs__differences-item sixth">
        <p>
          Может быть представлена в разнообразных форматах, таких как баннеры,
          видео, ролики, карусели и другие интерактивные формы рекламы. Форматы
          подобраны так, чтобы привлечь внимание и запомнить бренд.
        </p>
      </div>
      <div class="search-diffs__differences-item seventh">
        <p>
          Эффективна на ранних этапах воронки продаж, когда пользователь активно
          ищет информацию и сравнивает предложения. Это помогает привлечь
          заинтересованных клиентов.
        </p>
      </div>
      <div class="search-diffs__differences-item eighth">
        <p>
          Чаще всего используется на более поздних этапах воронки продаж, когда
          нужно укрепить бренд и стимулировать повторные визиты и покупки.
        </p>
      </div>
    </div>
  </div>
</section>
