<section class="seo-cta section-offset">
  <div class="seo-cta__content container">
    <h2 class="seo-cta__content-title section-title">
      Почему стоит заказать услугу оптимизации сайта у нас
    </h2>
    <div class="seo-cta__form">
      <form
        action="#"
        class="contacts-hero__content-form main-form black-version"
        id="seo-cta-form"
      >
        <p class="main-form__title">Запишись на консультацию</p>
        <p class="main-form__subtitle">
          Наши менеджеры свяжутся с вами в ближайшее время!
        </p>
          <label class="form__label main-form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset name__input form__input main-form__input"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="tel"
              name="Имя"
              class="input-reset tel__input form__input main-form__input"
              placeholder="Ваш телефон"
            />
          </label>
          <label class="form__label main-form__label">
            <input
              type="email"
              name="Имя"
              class="input-reset email__input form__input main-form__input"
              placeholder="Ваш e-mail"
            />
          </label>
        <button class="btn-reset form__btn main-form__button">Отправить</button>
      </form>
      <div class="seo-cta__form-right">
        <p class="seo-cta__form-text">
          <span
            >Хотите повысить посещаемость вашего веб-сайта и достичь успешного
            онлайн-присутствия?</span
          >
          Закажите услугу оптимизации сайта у нашей команды профессионалов! Мы
          начнем с тщательного SEO аудита и анализа конкурентов, чтобы
          разработать стратегию оптимизации, учитывающую уникальные особенности
          вашего бизнеса. Затем мы
          <span
            >сфокусируемся на внутренней оптимизации, улучшим структуру сайта,
            оптимизируем</span
          >
          мета-теги, заголовки текстов, и даже скорость загрузки страниц.
        </p>
        <div class="seo-cta__social">
          <a href="#" class="seo-cta__social-link">
            <svg>
              <use xlink:href="img/sprite.svg#telegram-ico"></use>
            </svg>
          </a>
          <a href="#" class="seo-cta__social-link">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp-ico"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="seo-cta__info">
      <p class="seo-cta__info-paragraph">
        Наша команда также
        <span
          >займется контентной оптимизацией, адаптируя информацию на сайте под
          потребности пользователей.</span
        >
        Повышение качества контента приведет к большему взаимодействию с вашим
        сайтом. А чтобы привлечь еще больше трафика,
        <span>мы проведем внешнюю оптимизацию,</span> наращивая ссылочный
        профиль с авторитетных и тематически связанных ресурсов.
      </p>
      <p class="seo-cta__info-paragraph">
        Сотрудничество с нами
        <span>обеспечит вашему бизнесу рост посещаемости,</span>
        увеличение конверсий и успех в онлайн-мире. Мы предоставляем прозрачные
        отчеты о проделанной работе, чтобы вы всегда были в курсе прогресса
        вашего проекта. Закажите услугу оптимизации сайта у нас и добейтесь
        ощутимых результатов уже сегодня!
      </p>
    </div>
  </div>
</section>
