<section class="seo-hero">
  <div class="seo-hero__content container">
    <h1 class="seo-hero__content-title">seo</h1>
    <p class="seo-hero__content-subtitle">
      <span>
        SEO-оптимизация, или оптимизация для поисковых систем (Search Engine
        Optimization),</span
      >
      является процессом, направленным на улучшение видимости и рейтинга
      веб-сайта или онлайн-контента в результатах поисковых систем. Её основная
      цель заключается в
      <span>привлечении органического, неоплачиваемого трафика,</span> повышении
      количества посетителей и улучшении позиций в поисковых результатах для
      релевантных запросов.
    </p>
    <div class="seo-hero__content-cta">
      <a
        href="services.html"
        class="btn-reset primary-button seo-hero__content-btn"
      >
        Наши услуги
      </a>
      <a
        href="contacts.html"
        class="btn-reset secondary-button text__cta-button seo-hero__content-btn"
      >
        <svg class="prime-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
  </div>
</section>
