<section class="seo-hero hero-section">
  <picture>
    <source srcset="img/seo-bg.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/seo-bg.jpg"
      class="seo-hero__image"
      alt="hero bg"
    />
  </picture>
  <div class="seo-hero__content container">
    <h1 class="seo-hero__content-title">seo</h1>
    <p class="seo-hero__content-subtitle">
      <span>
        SEO-оптимизация, или оптимизация для поисковых систем (Search Engine
        Optimization),</span
      >
      является процессом, направленным на улучшение видимости и рейтинга
      веб-сайта или онлайн-контента в результатах поисковых систем. Её основная
      цель заключается в
      <span>привлечении органического, неоплачиваемого трафика,</span> повышении
      количества посетителей и улучшении позиций в поисковых результатах для
      релевантных запросов.
    </p>
    <div class="seo-hero__content-cta">
      <a href="/services.html" class="btn btn-primary btn--green">Наши услуги</a>
        <a href="/contacts.html" class="btn btn-secondary btn--white ">
          <svg class="btn-msg-ico">
            <use xlink:href="img/sprite.svg#prime_message"></use>
          </svg>
          Напиши нам
        </a>
    </div>
  </div>
</section>
