<section class="seo-result section-offset">
  <div class="seo-result__content container">
    <h2 class="seo-result__content-title">
      Какой результат даёт <span>SEO-оптимизация</span>?
    </h2>
    <div class="seo-result__content-info">
      <div class="seo-result__content-decore"></div>
      <p class="seo-result__content-text">
        Успешная
        <span
          >SEO-оптимизация способствует общему росту бизнеса, увеличивает
          трафик,</span
        >
        конверсии и продажи, что делает её неотъемлемым компонентом ведения
        успешного онлайн-присутствия и развития бизнеса. От постоянного развития
        и оптимизации зависит успех в сильно конкурентной среде интернета,
        поэтому эффективная
        <span
          >SEO-оптимизация остается ключевым фактором роста и привлечения
          целевой аудитории.</span
        >
      </p>
    </div>
  </div>
</section>
