<section class="services-list">
  <div class="services-list__content container">
    <h1 class="services-list__content-title">
      Выбирайте услугу нужную именно вам
    </h1>
    <div class="services-list__content-list">
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/1.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Реклама в поиске</p>
        <p class="item__desc">
          Текстовые и товарные объявления в поисковых системах Google, Yandex,
          Bing. Наиболее быстрый способ привести на сайт потенциальных
          покупателей.
        </p>
        <a
          href="google-ads.html"
          class="btn-reset services-button item__button"
        >
          Подробнее
        </a>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/2.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Медийная реклама</p>
        <p class="item__desc">
          Продвижение бренда и повторное привлечение пользователей на сайт с
          помощью GDN и РСЯ.
        </p>
        <button class="btn-reset services-button item__button">
          Подробнее
        </button>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/3.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Видеореклама</p>
        <p class="item__desc">
          Обращайтесь в вашей аудитории на YouTube или сотнях партнерских сайтов
          Google во время просмотра ими видеороликов.
        </p>
        <button class="btn-reset services-button item__button">
          Подробнее
        </button>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/4.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Веб-аналитика</p>
        <p class="item__desc">
          От обычной установки кода на сайт до сквозной аналитики и
          динамического колл трекинга.
        </p>
        <button class="btn-reset services-button item__button">
          Подробнее
        </button>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/5.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Аудит</p>
        <p class="item__desc">
          Собираем, структурируем и визуализируем данные в понятных отчетах
          чтобы вы тратили меньше времени на анализ.
        </p>
        <a href="audit.html" class="btn-reset services-button item__button">
          Подробнее
        </a>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/6.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">Создание лендингов</p>
        <p class="item__desc">
          Текстовые и товарные объявления в поисковых системах Google, Yandex,
          Bing. Наиболее быстрый способ привести на сайт потенциальных
          покупателей.
        </p>
        <button class="btn-reset services-button item__button">
          Подробнее
        </button>
      </div>
      <div class="services-list__content-item item">
        <img
          loading="lazy"
          src="img/7.svg"
          class="item__image"
          width="122"
          height="122"
          alt="services icon"
        />
        <p class="item__title">SEO</p>
        <p class="item__desc">
          Текстовые и товарные объявления в поисковых системах Google, Yandex,
          Bing. Наиболее быстрый способ привести на сайт потенциальных
          покупателей.
        </p>
        <a href="seo.html" class="btn-reset services-button item__button">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>
