<section class="services-hero hero-section">
  <picture>
    <source srcset="img/servicesHero-bg.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/servicesHero-bg.jpg"
      alt="hero-bg"
      class="services-hero__image"
    />
  </picture>
  <div class="services-hero__content container">
    <p class="services-hero__content-text">
      Наши услуги включают разработку маркетинговых стратегий, создание
      креативных рекламных кампаний, управление социальными медиа, поисковую
      оптимизацию и многое другое. Мы предлагаем индивидуальный подход к каждому
      клиенту, чтобы помочь вам достичь желаемых результатов и укрепить свою
      позицию на рынке. Наша команда опытных маркетологов обладает богатым
      опытом работы в этой сфере и всегда следит за последними тенденциями.
    </p>
    <img
      loading="lazy"
      src="../img/servicesHeroImage.svg"
      class="services-hero__content-image"
      alt="services ico"
    />
  </div>
</section>
