<section class="services-cta">
  <div class="services-cta__content container">
    <div class="title-group">
      <h2 class="title-group__title">стоимость продвижения от 180€ в месяц</h2>
      <p class="title-group__subtitle">
        У каждой компании свои особенности, ниша и уровень конкуренции. Цена
        напрямую зависит от объёма работы и количества привлечённых
        специалистов.
      </p>
    </div>
    <form action="#" class="services-cta__form">
      <h2 class="services-cta__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="services-cta__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="form">
        <div class="form__inputs">
          <div class="form__inputs-top">
            <label class="form__label">
              <input
                type="text"
                name="Имя"
                class="input-reset form__input"
                placeholder="Имя"
              />
            </label>
            <label class="form__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset form__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="form__label">
              <input
                type="text"
                name="Почта"
                class="input-reset form__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <div class="select">
              <select name="" id="" class="input-reset form__input">
                <option value="search-advertisement">Реклама в поиске</option>
                <option value="media-advertisement">Медийная реклама</option>
                <option value="video-advertisement">Видеореклама</option>
                <option value="web-analytics">Веб-аналитика</option>
                <option value="audit">Аудит</option>
                <option value="landings-creation">Создание лендингов</option>
                <option value="seo">SEO</option>
              </select>
              <svg class="downarrow">
                <use xlink:href="img/sprite.svg#coolicon"></use>
              </svg>
            </div>
          </div>
          <label class="form__label">
            <input
              type="text"
              name="Сайт"
              class="input-reset form__input"
              placeholder="Ваш сайт"
            />
          </label>
        </div>
        <button class="btn-reset form__button">Отправить</button>
      </div>
      <p class="services-cta__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a> сайта.
      </p>
    </form>
  </div>
</section>
