<section class="services">
  <div class="services__content container">
    <h2 class="services__content-title">
      МЫ <span>ЭКСПЕРТЫ</span> В РЕКЛАМЕ ТОВАРОВ И УСЛУГ ИЗ ДАННЫХ ОТРАСЛЕЙ:
    </h2>
    <div class="services__content-offers">
      <a class="services__content-link beauty" href="#">
        <p>Услуги красоты</p>
        <p>10+ проектов...</p>
      </a>
      <a class="services__content-link clip-link" href="#">
        <p>ЖИЛАЯ И КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</p>
        <p>15+ проектов...</p>
      </a>
      <div class="services__content-right-wrapper">
        <div class="buttons">
          <button class="btn-reset primary-button services__content-btn light">
            Наши услуги
          </button>
          <button class="btn-reset case-button services__content-btn">
            Наши кейсы
          </button>
        </div>
        <a class="services__content-link it" href="#">
          <p>IT услуги</p>
          <p>5+ проектов...</p>
        </a>
      </div>

      <a class="services__content-link emergency" href="#">
        <p>Экстренные услуги</p>
        <p>5+ проектов...</p>
      </a>
    </div>
  </div>

  <div class="services-mobile__content container">
    <h2 class="services-mobile__content-title">
      МЫ <span>ЭКСПЕРТЫ</span> В РЕКЛАМЕ ТОВАРОВ И УСЛУГ ИЗ ДАННЫХ ОТРАСЛЕЙ:
    </h2>
    <div class="services-mobile__content-offers">
      <a class="services-mobile__content-link" href="#">
        <p>Услуги красоты</p>
        <p>10+ проектов...</p>
      </a>
      <a class="services-mobile__content-link" href="#">
        <p>IT услуги</p>
        <p>5+ проектов...</p>
      </a>
      <a class="services-mobile__content-link" href="#">
        <p>Экстренные услуги</p>
        <p>5+ проектов...</p>
      </a>
      <div class="wrapper">
        <div class="buttons">
          <button
            class="btn-reset primary-button services-mobile__content-btn light"
          >
            Наши услуги
          </button>
          <button class="btn-reset case-button services-mobile__content-btn">
            Наши кейсы
          </button>
        </div>
        <a class="services-mobile__content-clip-link" href="#">
          <p>ЖИЛАЯ И КОММЕРЧЕСКАЯ НЕДВИЖИМОСТЬ</p>
          <p>15+ проектов...</p>
        </a>
      </div>
    </div>
  </div>
</section>
