<section class="team section-offset">
  <div class="team__content container">
    <h2 class="team__content-title section-title">Наша команда</h2>
    <div class="team__content-list">
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/yuri.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/yuri.jpg"
              class="image team__content-image"
              alt="Юрий, Google Ads, GA4, GTM"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Юрий</p>
        <p class="team__content-item-subtitle">Google Ads, GA4, GTM</p>
      </div>
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/kamilla.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kamilla.jpg"
              class="image team__content-image"
              alt="Камилла, Копирайт и рерайт"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Камилла</p>
        <p class="team__content-item-subtitle">Копирайт и рерайт</p>
      </div>
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/konstantin.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/konstantin.jpg"
              class="image team__content-image"
              alt="Константин, SEO"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Константин</p>
        <p class="team__content-item-subtitle">SEO</p>
      </div>
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/andrew.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/andrew.jpg"
              class="image team__content-image"
              alt="Андрей, Лендинги"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Андрей</p>
        <p class="team__content-item-subtitle">Лендинги</p>
      </div>
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/helena.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/helena.jpg"
              class="image team__content-image"
              alt="Елена, Дизайн"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Елена</p>
        <p class="team__content-item-subtitle">Дизайн</p>
      </div>
      <div class="team__content-item">
        <div class="image-wrapper">
          <picture>
            <source srcset="img/vadim.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/vadim.jpg"
              class="image team__content-image"
              alt="Вадим, реклама Meta, IG"
            />
          </picture>
        </div>
        <p class="team__content-item-title">Вадим</p>
        <p class="team__content-item-subtitle">Реклама Meta, IG</p>
      </div>
    </div>
  </div>
</section>
