<section class="video-hero hero-section">
  <div class="video-hero__content container">
    <h1 class="video-hero__content-title">
      размещение видеорекламы на YouTube
    </h1>
    <p class="video-hero__content-subtitle">
      Использование видеорекламы на YouTube сегодня является одним из самых
      эффективных способов продвижения для многих бизнес-направлений. В
      противовес телевизору, она стоит приемлемых денег, но не уступает по
      эффективности, что делает такой вид рекламы идеальным для малых
      предпринимателей.
    </p>
    <div class="video-hero__content-cta">
      <a href="/services.html" class="btn btn-primary btn--brown"
        >Наши услуги</a
      >
      <a href="/contacts.html" class="btn btn-secondary btn--brown">
        <svg class="btn-msg-ico">
          <use xlink:href="img/sprite.svg#prime_message"></use>
        </svg>
        Напиши нам
      </a>
    </div>
    <form action="#" class="video-hero__content-form main-form brown-version">
      <p class="main-form__title">Запишись на консультацию</p>
      <p class="main-form__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="wrapper">
        <label class="form__label main-form__label">
          <input
            type="text"
            name="Имя"
            class="input-reset name__input form__input main-form__input"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="tel"
            name="Имя"
            class="input-reset tel__input form__input main-form__input"
            placeholder="Ваш телефон"
          />
        </label>
        <label class="form__label main-form__label">
          <input
            type="email"
            name="Имя"
            class="input-reset email__input form__input main-form__input"
            placeholder="Ваш e-mail"
          />
        </label>
      </div>
      <button class="btn-reset form__btn main-form__button">Отправить</button>
    </form>
  </div>
</section>
