<section class="video-variants section-offset">
  <div class="video-variants__content container">
    <h2 class="video-variants__content-title">Виды рекламы на YouTube</h2>
    <div class="video-variants__cards">
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">Медиаобъявления</p>
        <p class="video-variants__cards-desc">
          Медиаобъявления показываются на главной YouTube, в результатах поиска,
          в рекомендациях, а также на партнерских сайтах Google. Преимущества:
          <ul>
            <li>Настройка вручную не требуется.</li>
            <li>Баннеры создаются автоматически.</li>
            <li>Конверсии растут автоматически.</li>
          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">Masthead:</p>
        <p class="video-variants__cards-desc">
          Masthead представляют собой широкоформатные нативные баннеры, которые показываются сверху на главной YouTube.
Преимущества:

          <ul>
            <li>Впечатляющий нативный баннер во всю ширину экрана.</li>
            <li>Подходит для крупных рекламодателей и отображается на Smart TV.</li>

          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">In Stream (непропускаемые):</p>
        <p class="video-variants__cards-desc">
          Такой формат представляет рекламный ролик длительностью до 15 секунд, который нельзя пропустить. Этот тип привлекает больше внимания и обязывает аудиторию просмотреть его до конца перед переходом к основному видео. Поэтому рекламный скрипт должен быть наиболее ёмким.
          Преимущества:
          <ul>
            <li>Привлечение повышенного внимания и преодоление "баннерной слепоты".</li>
            <li>Обязательный просмотр рекламы до конца перед переходом к основному видео.</li>

          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">In Stream (пропускаемые):</p>
        <p class="video-variants__cards-desc">
          Это короткий ролик, который может быть показан перед, в середине или после основного видео. Пользователь может пропустить рекламу спустя 5 секунд после начала просмотра, и в таком случае средства с бюджета рекламодателя не списываются.
          Преимущества:
          <ul>
            <li>Списание средств только при полном или 30-секундном просмотре.</li>
            <li>Возможность тестирования аудиторий и таргетинга с минимальными затратами.</li>
            <li>Эффективно для увеличения охвата у крупных брендов.</li>
          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">Bumper Ads:</p>
        <p class="video-variants__cards-desc">
          Это короткие ролики длительностью 6 секунд, которые показываются перед видео.
          Преимущество:
          <ul>
            <li>Используются для ремаркетинга и напоминания клиентам об уже узнаваемой компании.</li>
          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
      <div class="video-variants__cards-item">
        <p class="video-variants__cards-title">Discovery Ads:</p>
        <p class="video-variants__cards-desc">
          Этот формат продвигает видеоролик на странице рекомендаций и в результатах поиска.
          Преимущества:
          <ul>
            <li>Помогают увеличить число просмотров для определенного видеоролика.</li>
            <li>Могут использоваться без активной ссылки на сайт, что уникально для этого формата.</li>
          </ul>
        </p>
        <a href="#" class="video-variants__cards-btn">Подробнее</a>
      </div>
    </div>

  </div>
</section>
