<section class="video-analysis section-offset">
  <div class="video-analysis__content container">
    <h2 class="video-analysis__content-title">
      Как анализировать рекламу в видеороликах на YouTube
    </h2>
    <div class="video-analysis__list">
      <p class="video-analysis__list-desc">
        Для анализа рекламы на YouTube используются следующие показатели:
      </p>
      <ol class="video-analysis__list-list">
        <li>
          <span>CPV:</span> позволяет рассчитать среднюю стоимость одного
          просмотра рекламного видео.
        </li>
        <li>
          <span>CTR:</span> доля переходов на сайт или реакции на рекламу среди
          просмотревших ее пользователей.
        </li>
        <li>
          <span>Engagement Rate:</span> показывает статистику взаимодействий
          пользователей с рекламой, таких как отзывы, комментарии, лайки и т.п.
        </li>
        <li>
          <span>Удержание аудитории:</span> позволяет определить среднее время
          просмотра видео, что помогает понять, насколько зрители заинтересованы
          в рекламе.
        </li>
        <li>
          <span>CPA:</span> показывает соотношение между полученными конверсиями
          и общим количеством просмотров.
        </li>
      </ol>
    </div>
    <div class="video-analysis__list">
      <p class="video-analysis__list-desc">
        Для аналитики рекламы на YouTube можно использовать инструменты
        <span>YouTube Analytics и Google Analytics</span>, которые предоставят
        детальную информацию о популярности видео и взаимодействии с ним, а
        также позволят измерить конверсии и определить эффективность рекламной
        кампании.
      </p>
      <p class="video-analysis__list-desc">
        Анализ эффективности медийной рекламы на YouTube осуществляется через
        личный кабинет, где рекламодатели могут получить ответы на ряд важных
        вопросов:
      </p>

      <ol class="video-analysis__list-list">
        <li>
          <span>Эффективность текста объявлений:</span> вы можете проверить
          различные варианты текста объявлений и определить, какие из них
          привлекают больше внимания и генерируют больше конверсий.
        </li>
        <li>
          <span>Подходящий формат объявлений:</span> испытайте разные форматы
          рекламы, такие как видео-объявления TrueView, бамперные объявления,
          вставные объявления и т. д., чтобы определить, какой формат наилучшим
          образом соответствует вашим целям и аудитории.
        </li>
        <li>
          <span>Таргетинг и его эффективность:</span> используйте данные о
          таргетинге, чтобы выяснить, какие сегменты аудитории показывают низкую
          конверсию, и исключите их из своей рекламной стратегии для оптимизации
          бюджета.
        </li>
        <li>
          <span>Заинтересованность аудитории:</span> анализируйте данные о
          демографии, чтобы определить наиболее заинтересованные в вашей рекламе
          сегменты аудитории, что позволит сосредоточить рекламную активность на
          наиболее перспективных группах пользователей.
        </li>
      </ol>
    </div>
  </div>
</section>
