<section class="video-question section-offset">
  <div class="video-question__content container">
    <h2 class="video-question__content-title">
      Зачем нужна реклама на YouTube
    </h2>
    <ol class="video-question__list">
      <li class="video-question__list-block">
        <div class="video-question__list-item">
          <p class="video-question__list-title">Огромная аудитория:</p>
          <p class="video-question__list-text">
            YouTube пользуются 2,51 млрд человек, из которых более 1,05 млн
            составляют жители Эстонии. Таким образом, охват рекламы сейчас
            составляет 79,3 процента от общей населения страны.
            <br />
            <span class="video-question__list-splice">
              Реклама YouTube охватила 86,2 процента общей интернет-аудитории
              Эстонии (независимо от возраста) в январе 2022 года. В то время
              52,8 процента аудитории рекламы YouTube в Эстонии составляли
              женщины, 47,2 процента - мужчины.
            </span>
          </p>
        </div>
      </li>
      <li class="video-question__list-block">
        <div class="video-question__list-item">
          <p class="video-question__list-title">Гибкий таргетинг:</p>
          <p class="video-question__list-text">
            Реклама на YouTube предоставляет возможность выделять
            заинтересованных людей благодаря различным параметрам таргетинга.
            Это позволяет оптимизировать рекламные кампании и максимально точно
            нацеливать их на целевую аудиторию.
          </p>
        </div>
      </li>
      <li class="video-question__list-block">
        <div class="video-question__list-item">
          <p class="video-question__list-title">
            Собственная система аналитики:
          </p>
          <p class="video-question__list-text">
            Google Ads обеспечивает обширные аналитические возможности, которые
            позволяют подробно анализировать поведение пользователей на
            платформе. Это позволяет оценить эффективность рекламной кампании и
            вносить необходимые корректировки для улучшения результатов.
          </p>
        </div>
      </li>
      <li class="video-question__list-block">
        <div class="video-question__list-item">
          <p class="video-question__list-title">
            Эффективность рекламы на YouTube и ее комбинирование с другими
            методами продвижения:
          </p>
          <p class="video-question__list-text">
            Реклама на YouTube демонстрирует свою эффективность как
            самостоятельный инструмент, так и в сочетании с другими методами
            продвижения. Гибкие настройки делают видеорекламу на YouTube мощным
            средством для достижения маркетинговых целей бизнеса. Благодаря
            разнообразию рекламных форматов можно подобрать наиболее подходящий
            способ представления контента в зависимости от целевой аудитории и
            целей рекламной кампании.
          </p>
        </div>
      </li>
    </ol>
    <form
      action="#"
      class="video-question__content-form main-form-horizont horiz-white-version"
    >
      <h2 class="main-form-horizont__title">
        Заполните форму и узнайте стоимость продвижения
      </h2>
      <p class="main-form-horizont__subtitle">
        Наши менеджеры свяжутся с вами в ближайшее время!
      </p>
      <div class="main-form-horizont__form-body">
        <div class="main-form-horizont__inputs">
          <div class="main-form-horizont__inputs-top">
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Имя"
                class="input-reset main-form-horizont__input"
                placeholder="Имя"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="tel"
                name="Телефон"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш телефон"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Почта"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш e-mail"
              />
            </label>
            <label class="main-form-horizont__label">
              <input
                type="text"
                name="Сайт"
                class="input-reset main-form-horizont__input"
                placeholder="Ваш сайт"
              />
            </label>
          </div>
        </div>
        <button class="btn-reset main-form-horizont__button">Отправить</button>
      </div>
      <p class="main-form-horizont__privacy-warn">
        Нажимая кнопку, вы соглашаетесь с
        <a href="#">политикой конфиденциальности</a> сайта.
      </p>
    </form>
  </div>
</section>
